aiohttp==3.9.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
babel==2.16.0
blinker==1.8.2
Brotli==1.1.0
cachelib==0.9.0
cachetools==5.5.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
flask-babel==4.0.0
Flask-Caching==2.3.0
Flask-Compress==1.15
Flask-S3==0.3.3
Flask-Sitemap==0.4.0
flask-talisman==1.1.0
frozenlist==1.5.0
google-api-core==2.19.1
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.2
gunicorn==20.1.0
httplib2==0.22.0
idna==3.7
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
multidict==6.1.0
oauthlib==3.2.2
packaging==24.1
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.2
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
typing_extensions==4.11.0
uritemplate==4.1.1
urllib3==1.26.20
Werkzeug==3.0.3
yarl==1.17.1
zipp==3.21.0
zstandard==0.23.0
