<section id="hero" class="bg-stone-400">
    <div
        class="relative flex flex-col justify-center px-[12px] hero-image md:h-[calc(115vh_-_100px)] sm:h-[80vh] min-[481px]:h-[580px] h-[375px] w-full bg-cover bg-center 
        {% if page_name == 'MYA' %} bg-[url('{{ url_for('static', filename='dist/img/hero/HERO-MYA-100.jpg') }}')] 
        {% elif page_name == 'Olivea' %} bg-[url('{{ url_for('static', filename='dist/img/hero/Olivea.jpg') }}')] 
        {% elif page_name == 'Divino' %} bg-[url('{{ url_for('static', filename='dist/img/hero/divino-hero.png') }}')] 
        {% endif %} bg-blend-overlay bg-[#000cc]">
        <div class="flex w-full h-full">
            <div class="relative w-full h-full">
                <div class="absolute top-0 left-0 w-full h-full opacity-30" id="particles-js"></div>
                <div
                    class="max-w-[90%] md:max-w-[500px] w-full absolute top-[50%] left-[13%] z-10 text-left flex flex-col justify-center transform -translate-y-1/2 lg:top-[35%] lg:-translate-y-[35%]">
                    <h1
                        class="my-[20px] font-Poppins wordspac_5 2xl:text-[48px] xl:text-[42px] lg:text-[38px] md:text-[35px] sm:text-[30px] text-[24px] md:leading-[1.2857em] sm:leading-[42px] leading-[36px] font-normal sm:tracking-[2px] tracking-[1px] text-[#fafafa]">
                        <span class="animate-slideUpFadeIn delay-500ms block">
                            {% if lang_code == 'es' %}
                            <span class="typing-container" style="animation-delay: 1s;">¡Hola! Somos</span>
                            {% else %}
                            <span class="typing-container" style="animation-delay: 1s;">Hello! We are</span>
                            {% endif %}
                        </span>
                        <span class="animate-slideUpFadeIn delay-1000ms block">
                            {% if page_name == 'MYA' %}
                            <span class="typing-container" style="animation-delay: 2s;">MYA Hotel Boutique:</span>
                            {% elif page_name == 'Olivea' %}
                            <span class="typing-container" style="animation-delay: 2s;">Olivea Farm To Table:</span>
                            {% elif page_name == 'Divino' %}
                                {% if lang_code == 'es' %}
                                <span class="typing-container" style="animation-delay: 2s;">Café y Padel DiVino:</span>
                                {% else %}
                                <span class="typing-container" style="animation-delay: 2s;">Café & Padel DiVino:</span>
                                {% endif %}
                            {% endif %}
                        </span>
                        <span class="animate-slideUpFadeIn delay-1500ms block">
                            {% if lang_code == 'es' %}
                                {% if page_name == 'MYA' %}
                                <span class="typing-container text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] xl:text-[28px] 2xl:text-[32px]" style="animation-delay: 4s;">
                                    Donde se descansa bien</span>
                                {% elif page_name == 'Olivea' %}
                                <span class="typing-container text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] xl:text-[28px] 2xl:text-[32px]" style="animation-delay: 4s;">
                                    Del Huerto a Su Mesa</span>
                                {% elif page_name == 'Divino' %}
                                <span class="typing-container text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] xl:text-[28px] 2xl:text-[32px]" style="animation-delay: 4s;">
                                    Café con un toque de juego</span>
                                {% endif %}
                            {% else %}
                                {% if page_name == 'MYA' %}
                                <span class="typing-container text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] xl:text-[28px] 2xl:text-[32px]"
                                style="animation-delay: 4s;">Place to rest, eat and play</span>
                                {% elif page_name == 'Olivea' %}
                                <span class="typing-container text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] xl:text-[28px] 2xl:text-[32px]" style="animation-delay: 4s;">
                                    From Our Garden To Your Table</span>
                                {% elif page_name == 'Divino' %}
                                <span class="typing-container text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] xl:text-[28px] 2xl:text-[32px]" style="animation-delay: 4s;">
                                    Coffee with a bit of play</span>
                                {% endif %}
                            {% endif %}
                        </span>
                    </h1>
                    {% if lang_code == 'es' %}
                    <a class="self-start px-[15px] py-[5px] leading-[28px] border border-solid border-[#676663] bg-[#676663] text-[#fafafa] text-[15px] font-medium tracking-[1px] rounded-[10px] duration-300 ease-in-out hover:bg-transparent hover:text-[#676663] animate-slideUpFadeIn delay-2000ms" 
                        href="#gallery">Más Información</a>
                    {% else %}
                    <a class="self-start px-[15px] py-[5px] leading-[28px] border border-solid border-[#676663] bg-[#676663] text-[#fafafa] text-[15px] font-medium tracking-[1px] rounded-[10px] duration-300 ease-in-out hover:bg-transparent hover:text-[#676663] animate-slideUpFadeIn delay-2000ms"
                        href="#gallery">About Us</a>
                    {% endif %}  
                </div>
            </div>
        </div>
    </div>
    <a href="#gallery"
        class="absolute bottom-[15px] left-[15px] hover:bg-opacity-85 cursor-pointer w-[38px] h-[38px] rounded-[20px] bg-[#fafafa] bg-opacity-45 backdrop-filter backdrop-blur-lg text-[#676663] text-center text-[22px] leading-relaxed sm:block transition-opacity duration-1000 z-20 delayed-fade-in">
        <i class="ri-arrow-down-double-line text-[20px]"></i>
    </a>
</section>
