{% if lang_code == 'es' %}
    {% if page_name == 'MYA' %}
        hotel, reserva, negocio, restaurante, spa, resort, valle de Guadalupe, vino, padel, propiedad familiar, seguro, de la granja a la mesa, Ensenada, México, hotel boutique, experiencia, landing
    {% elif page_name == 'Olivea' %}
        Olivea, granja a la mesa, MYA Hotel Boutique, restaurante, Ensenada, México, experiencia única
    {% elif page_name == 'Divino' %}
        Divino, granja a la mesa, MYA Hotel Boutique, restaurante, Ensenada, México, experiencia única
    {% else %}
        hotel boutique, Ensenada, México, MYA Hotel Boutique, experiencia única
    {% endif %}
{% else %}
    {% if page_name == 'MYA' %}
        hotel, booking, business, restaurant, spa, resort, valle de Guadalupe, wine, padel, family owned, safe, farm to table, Ensenada, Mexico, boutique hotel, experience, landing
    {% elif page_name == 'Olivea' %}
        Olivea, farm to table, MYA Hotel Boutique, restaurant, Ensenada, Mexico, unique experience
    {% elif page_name == 'Divino' %}
        Divino, farm to table, MYA Hotel Boutique, restaurant, Ensenada, Mexico, unique experience
    {% else %}
        boutique hotel, Ensenada, Mexico, MYA Hotel Boutique, unique experience
    {% endif %}
{% endif %}
