{% block menu_line %} <style></style> {% endblock %} <div
    class="lh-header bg-stone-400 absolute w-full z-[16] py-[6px]">
    <div
        class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px]">
        <nav class="flex flex-nowrap w-full py-[3px]"><a class="navbar-brand py-[5px]" href="#"> {% if page_name
                ==
                'MYA' %} <img src="{{ url_for('static', filename='dist/img/logo/mya-464644.svg') }}" alt="MYAlogo"
                    class="xl:w-[65px] w-[35px] relative z-[2]"> {% elif page_name ==
                'Olivea' %} <img src="{{ url_for('static', filename='dist/img/logo/olivea-logo.svg') }}"
                    alt="OliveaLogo" class="xl:w-[140px] w-[90px] relative z-[2] p-[12px]"> {% elif
                page_name == 'Divino' %} <img src="{{ url_for('static', filename='dist/img/logo/svg/padel-wine.svg') }}"
                    alt="PadelLogo" class="xl:w-[65px] w-[35px] relative z-[2]"> {% else %} <a
                    href="{{ url_for('main.index', lang_code=session.get('language', 'en')) }}"><img
                        src="{{ url_for('static', filename='dist/img/logo/mya-464644.svg') }}" alt="MYAlogo"
                        class="xl:w-[65px] w-[35px] relative z-[2]"> </a> {% endif
                %} </a>
            <div class="flex-grow"></div>
            <div class="menu-button-wrapper lg:hidden" id="menuButton">
                <div class="menu-button"><span class="menu-line"></span></div>
            </div>
            <div class="flex basis-[auto] grow items-center lg:flex hidden">
                <ul class="navbar-nav flex w-full relative z-[3] flex-row justify-end">
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#conócenos">Conócenos</a> {% elif
                        page_name == 'MYA' or page_name == 'Olivea' or page_name == 'Divino' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#about-us">About Us</a> {% endif
                        %} </li>
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} {% if
                        page_name == 'MYA' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#habitaciones">Habitaciones</a> {% elif page_name ==
                        'Olivea' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link" href="#huerto">Huerto</a> {%
                        elif page_name == 'Divino' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#lujos">Lujos</a> {% endif %} {%
                        else %} {% if page_name == 'MYA' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#rooms">Rooms</a> {% elif page_name == 'Olivea' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#garden">Garden</a> {% elif
                        page_name == 'Divino' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#luxuries">Luxuries</a> {% endif %} {% endif %} </li>
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} {% if
                        page_name == 'MYA' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#lujos">Lujos</a> {% elif
                        page_name == 'Olivea' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#menú">Menú</a> {% elif page_name == 'Divino' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#padel">Padel</a> {% endif %} {%
                        else %} {% if page_name == 'MYA' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#luxuries">Luxuries</a> {% elif page_name == 'Olivea' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#menu">Menu</a> {% elif page_name
                        == 'Divino' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link" href="#padel">Padel</a>
                        {% endif %} {% endif %} </li>
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#encuéntranos">Encuéntranos</a>
                        {% elif page_name == 'MYA'
                        or page_name == 'Olivea' or page_name == 'Divino' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#contact">Find Us</a> {% endif %}
                    </li>
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} {% if
                        page_name == 'Divino' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="#café">Café</a> {% elif page_name
                        == 'MYA' or page_name == 'Olivea' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.divino', lang_code=session.get('language', 'es')) }}">Café</a> {%
                        endif %} {% else %} {% if page_name == 'Divino' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link" href="#coffee">Coffee</a> {% elif
                        page_name == 'MYA' or page_name == 'Olivea' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.divino', lang_code=session.get('language', 'en')) }}">Coffee</a> {%
                        else %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.divino', lang_code=session.get('language', 'es')) }}">Café&nbsp;DiVino</a>
                        {% endif %} {% endif %} </li>
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} {% if
                        page_name == 'Divino' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'es')) }}">Comedor</a>
                        {% else %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.divino', lang_code=session.get('language', 'es')) }}">Padel</a> {%
                        endif %} {% else %} {% if page_name == 'Divino' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'en')) }}">Dining</a>
                        {% elif page_name == 'MYA' or page_name == 'Olivea' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.divino', lang_code=session.get('language', 'en')) }}">Padel</a> {%
                        else %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.divino', lang_code=session.get('language', 'en')) }}">Padel&nbsp;DiVino</a>
                        {% endif %} {% endif %} </li>
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} {% if
                        page_name == 'MYA' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'es')) }}">Comedor</a>
                        {% elif page_name == 'Divino' or page_name == 'Olivea' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.index', lang_code=session.get('language', 'en')) }}">Hotel</a> {%
                        endif %} {% else %} {% if page_name == 'MYA' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'en')) }}">Dining</a>
                        {% elif page_name == 'Divino' or page_name == 'Olivea' %} <a
                            class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.index', lang_code=session.get('language', 'en')) }}">Hotel</a> {%
                        else %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.index', lang_code=session.get('language', 'en')) }}">MYA&nbsp;Hotel&nbsp;Boutique</a>
                        {% endif %} {% endif %} </li>
                    <li class="ml-[30px] nav-item dropdown"> {% if lang_code == 'es' %} {% if
                        page_name == 'MYA' %} <div class="search-control-button flex items-center min-w-[117px]"><a
                                id="bookNowButton"
                                class="m-[auto] duration-[0.3s] ease-in-out border-[1px] border-solid border-[#676663] px-[15px] py-[5px] leading-[28px] bg-[#676663] text-[#fafafa] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#676663]"
                                href="https://hotels.cloudbeds.com/es/reservation/pkwNrX" target="_blank">Reservar
                                Cuarto</a></div> {% elif
                        page_name == 'Olivea' %} <div class="search-control-button flex items-center min-w-[117px]"><a
                                id="bookNowButton"
                                class="m-[auto] duration-[0.3s] ease-in-out border-[1px] border-solid border-[#676663] px-[15px] py-[5px] leading-[28px] bg-[#676663] text-[#fafafa] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#676663]"
                                href="https://www.opentable.com.mx/r/olivea-farm-to-table-reservations-ensenada?restref=1313743&lang=es-MX&ot_source=Restaurant%20website"
                                target="_blank">Reservar Mesa</a></div> {% endif %} {%
                        else %} {% if page_name == 'MYA'
                        %} <div class="search-control-button flex items-center min-w-[117px]"><a id="bookNowButton"
                                class="m-[auto] duration-[0.3s] ease-in-out border-[1px] border-solid border-[#676663] px-[15px] py-[5px] leading-[28px] bg-[#676663] text-[#fafafa] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#676663]"
                                href="https://hotels.cloudbeds.com/en/reservation/pkwNrX" target="_blank">Book Now</a>
                        </div> {% elif page_name ==
                        'Olivea' %} <div class="search-control-button flex items-center min-w-[117px]"><a
                                id="bookNowButton"
                                class="m-[auto] duration-[0.3s] ease-in-out border-[1px] border-solid border-[#676663] px-[15px] py-[5px] leading-[28px] bg-[#676663] text-[#fafafa] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#676663]"
                                href="https://www.opentable.com.mx/r/olivea-farm-to-table-reservations-ensenada?restref=1313743&lang=en&ot_source=Restaurant%20website"
                                target="_blank">Reserve a Table</a></div> {% elif
                        page_name != 'Divino' %} <a class="py-[5px] text-[15px] text-[#464644] nav-link"
                            href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'en')) }}">Olivea&nbsp;Farm&nbsp;To&nbsp;Table</a>
                        {% endif %} {% endif %} </li>
                </ul>
            </div>
        </nav>
    </div>
</div>