<!-- Top Progress bar --><!--NOT WORKING-->
<div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
</div>

<!-- Tap to top -->
<a href="#" id="tapToTop"
class="tap-to-top back-to-top hidden fixed left-[15px] z-10 hover:text-[#fafafa] cursor-pointer w-[38px] h-[38px] rounded-[20px] bg-[#676663] text-[#fafafa] text-center text-[22px] leading-relaxed">
<i class="ri-arrow-up-double-line text-[20px]"></i>
</a>

{% block progress_bar %}
<script>
// Top Progress bar
window.addEventListener('scroll', function() {
    var scrollTop = window.scrollY;
    var docHeight = document.documentElement.scrollHeight;
    var winHeight = window.innerHeight;
    var scrollPercent = (scrollTop / (docHeight - winHeight)) * 100;
    document.getElementById('progressBar').style.width = scrollPercent + '%';
  
    // Show/hide back to top button
    var backToTop = document.getElementById('backToTop');
    if (scrollTop > 300) { // Show after scrolling down 300px
        backToTop.style.display = 'block';
    } else {
        backToTop.style.display = 'none';
    }
  });
</script>
{% endblock %}