@tailwind base;
@tailwind components;
@tailwind utilities;

.section-search-control {
  position: relative;
  z-index: 10;
}

/* Search Control Section */
@media screen and (max-width: 1023px) {
  .section-search-control {
    position: relative !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 10; /* Ensure the section is above other elements */
  }
  .section-search-control .search-control-boxing {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-search-control .w-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-search-control .search-box {
    margin-bottom: 12px;
  }
  .section-search-control .search-control-button {
    margin-top: 12px;
  }
}

.widgetHotelsInputText {
  padding: 5px 35px 5px 10px; /* Adjust padding to accommodate the icon */
  font-size: 14px;
  border: 1px solid #e3e1e1;
  border-radius: 5px;
  width: 100% !important; /* Ensure it takes full width */
}

.border-t-0 { border-top: 0; }
.border-l-0 { border-left: 0; }
.border-r-0 { border-right: 0; }
.text-left { text-align: left; }
.bg-white { background-color: #fafafa; }
.w-full { width: 100%; }
.border-b { border-bottom: 1px solid; }
.border-solid { border-style: solid; }
.outline-0 { outline: 0; }
.relative { position: relative; }

.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: #676663; /* Match the color to the theme */
}
