/* chatbot.css */

/* General styles */
#chatbox {
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#chatbot-chat {
  resize: both;
  overflow: hidden;
}

#chatbot-container {
  transition: opacity 0.3s ease-in-out;
  padding-top: 4rem; /* Ensure there is enough space for the header */
}

#chatbot-toggle {
  transition: transform 0.3s ease-in-out;
  animation: bounceIn 2s ease-in-out; /* Apply bounce animation */
}

.chatbot-icon {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  display: inline-block;
  vertical-align: middle;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-5px);
  }
}

#chatbot-toggle:hover .chatbot-icon {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

#chatbot-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /* Make sure the header is positioned absolutely */
  top: 0;
  left: 0;
  right: 0;
  z-index: 20; /* Ensure it is on top of other elements */
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 75%;
}

.message.bot {
  background-color: #E0F7FA; /* Light blue background for bot messages */
  align-self: flex-start;
}

.message.user {
  background-color: #F1F0F0; /* Light gray background for user messages */
  align-self: flex-end;
}

.input-area {
  border-top: 1px solid #E0E0E0; /* Light gray border */
  display: flex;
  align-items: center;
  padding: 10px;
}

#user-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #F9F9F9;
}

.send-button {
  background-color: #3490dc; /* Blue color */
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.send-button:hover {
  background-color: #2779bd; /* Darker blue */
}

.send-button svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 640px) {
  #chatbot-container {
    width: 100%;
    right: 0;
    left: 0;
    height: 100% !important;
    max-height: 100% !important;
    border-radius: 0;
    position: sticky !important;
    z-index: 1100 !important;
    background-color:  ;
  }

  #chatbot-toggle {
    bottom: 5rem;
    right: 2rem;
    display: block !important; /* Ensure the toggle button is visible on mobile */
  }

  .chatbot-icon {
    width: 60px;
    height: 60px;
  }

  #chatbox {
    padding: 1rem;
  }

  .input-area {
    padding: 0.5rem;
  }

  .send-button {
    padding: 0.5rem;
  }

  .send-button svg {
    width: 20px;
    height: 20px;
  }
}
