/*# openai */
#chatbox {
  overflow-y: auto;
  /*z-index: 1000; /* ensure this is higher than other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }
#chatbot-chat {
  resize: both;
  overflow: hidden;
}
#chatbot-container {
  /*z-index: 1000; /* ensure this is higher than other elements */
}

#chatbot-toggle {
  /*z-index: 1000; /* ensure this is higher than other elements */
}

.chatbot-icon {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  display: inline-block;
  vertical-align: middle;
}

#chatbot-toggle:hover .chatbot-icon {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}