/* Base styles for the section and gallery */
.section-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .cards {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50rem; 
    height: 40rem; 
}

.cards li {
    list-style: none; 
    padding: 0;
    margin: 0;
    width: 50rem; 
    height: 40rem; 
    text-align: center;
    line-height: 40rem; 
    font-size: 2rem;
    font-family: sans-serif;
    background-color: #9d7cce;
    position: absolute;
    top: 0;
    left: 0; 
    border-radius: 0.8rem; 
}

body.scrolling .fade-out-on-scroll {
    opacity: 0 !important;
}