/*---------------------------------------------------------------------------------
    Included CSS INDEX
-----------------------------------------------------------------------------------

01. Typography

02. Utilities
    - mixing
    - variables

03. Components
    - common
    - header
    - footer

04. Pages
    - amenities-page 
    - blog-page
    - checkout
    - faq-page
    - gallery-page
    - gallery-page-2
    - home-page
    - prices-page
    - restaurant-page
    - room-details-page
    - room-page
    - spa-page
    - team-page
    - testimonials-page

-----------------------------------------------------------------------------------*/
/* base */
/* Typography */
@font-face {
  font-family: Cardo;
  src: url("../fonts/Cardo-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Cardo;
  src: url("../fonts/Cardo-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Cardo;
  src: url("../fonts/Cardo-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
/* Utilities */
/* Mixing */ /* Variables */
/* Components */
/* common */
body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 26px !important;
  letter-spacing: 0.02rem;
}

.hero-image {
    background-size: cover;
    background-position: bottom;
    background-blend-mode: overlay;
    transition: transform 0.5s ease;
}

::-moz-selection {
  color: #7b6c55;
  background: rgba(237, 90, 49, 0.15);
}

::selection {
  color: #7b6c55;
  background: rgba(237, 90, 49, 0.15);
}

.font-Montserrat {
  font-family: "Montserrat";
}

.font-Roboto {
  font-family: "Roboto";
}

.font-Cardo {
  font-family: "Cardo";
}

.wordspac_15 {
  word-spacing: 15px;
}

p, li, a {
  margin-bottom: 0;
  font-family: "Roboto";
  font-size: 15px;
  color: #777;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.03rem;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Cardo";
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 0.03rem;
}

/* Loader */
.lh-loader .loader::after, .lh-loader .loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 50px solid #7b6c55;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: animloader14 2s linear infinite;
          animation: animloader14 2s linear infinite;
}
.lh-loader .loader::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes animloader14 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes animloader14 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.bg-size-full::before {
  background-size: 100%;
}
.bg-size-full::after {
  background-size: 100%;
}

/* Custom select */
.select {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
}

.custom-select {
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 14px;
}
.custom-select .custom-select {
  position: relative;
}
.custom-select .custom-select:after {
  content: "\ea4e";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 17px;
  font-family: "remixicon";
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.custom-select .custom-select:active,
.custom-select .custom-select .active {
  background-color: #fff;
  color: #9e9e9e;
}
.custom-select:focus {
  outline: 2px;
}

.select-options {
  min-width: 150px;
  max-height: 200px;
  margin: 3px 0 0 0;
  padding: 5px !important;
  overflow-y: auto;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 20;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.07);
}
.select-options li {
  margin: 0;
  padding: 5px 5px 5px 10px !important;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  border-radius: 5px;
  font-size: 14px;
  color: #777;
}
.select-options li:hover {
  background: rgba(235, 88, 54, 0.1);
}
.select-options li[rel=hide] {
  display: none;
}
.select-options::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 0 0 5px 0;
}
.select-options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9e9e9e;
}

/* Side-tool */
.lh-tool-active {
  right: 0 !important;
  z-index: 16 !important;
}

ul.skin-mode li.active:before {
  font-family: "remixicon";
  content: "\f3b3";
  font-size: 17px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
}

ul.lh-color .c1 {
  background: #7b6c55;
}
ul.lh-color .c2 {
  background: #3e9172;
}
ul.lh-color .c3 {
  background: #677993;
}
ul.lh-color .c4 {
  background: #d31111;
}
ul.lh-color .c5 {
  background: #d3b41c;
}
ul.lh-color .c6 {
  background: #db98b1;
}
ul.lh-color .c7 {
  background: #799ffe;
}
ul.lh-color .c8 {
  background: #F2709C;
}
ul.lh-color .c9 {
  background: #ff8763;
}

ul.dark-mode .dark {
  background-color: #1f2531;
}
ul.dark-mode .white {
  background-color: #fff;
}

.active-dark-mode:before {
  font-family: "remixicon";
  content: "\f3b3";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
  font-weight: 100;
}

.active-colors:before {
  height: 30px;
  font-family: "remixicon";
  content: "\f3b3";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0;
  font-weight: 100;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .wordspac_15 {
    word-spacing: 5px;
  }
}
@media screen and (max-width: 480px) {
  .py-side-border {
    display: none;
  }
}
/* Header */
ul.navbar-nav li.nav-item a.dropdown-toggle:after {
  display: none;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #7b6c55;
}
ul.navbar-nav li.nav-item a.nav-link:hover::before {
  background: #7b6c55;
  width: 100%;
}
ul.navbar-nav li.nav-item a.nav-link::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: -10px;
  height: 2px;
  width: 0;
  background: #7b6c55;
  left: 0;
  right: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 auto;
}
ul.navbar-nav .dropdown .dropdown-menu {
  position: absolute;
  left: auto !important;
}
ul.navbar-nav .dropdown .dropdown-menu li a {
  background-color: #E7E5E4;
}
ul.navbar-nav .dropdown:hover .dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
  margin-top: 9px !important;
}

.header-fixed {
  width: 100%;
  padding: 0 !important;
  position: fixed !important;
  top: 0 !important;
  background-color: rgba(231, 229, 228, 0.9) !important;
  -webkit-animation: slideDown 0.35s ease-in-out;
          animation: slideDown 0.35s ease-in-out;
  z-index: 100;
}
.header-fixed nav {
  padding: 9px 0;
}

.lh-location .custom-select .custom-select::after {
  right: -10px !important;
  line-height: 1.6;
}
.lh-location .custom-select .select-options {
  margin-top: 10px !important;
  left: -18px;
}

/* Mobile-menu */
.lh-side-cart .lh-menu-inner .lh-menu-box::-webkit-input-placeholder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  color: #777;
}
.lh-side-cart .lh-menu-inner .lh-menu-box::-moz-placeholder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  color: #777;
}
.lh-side-cart .lh-menu-inner .lh-menu-box:-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  color: #777;
}
.lh-side-cart .lh-menu-inner .lh-menu-box::-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  color: #777;
}
.lh-side-cart .lh-menu-inner .lh-menu-box::placeholder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  color: #777;
}
.lh-side-cart .lh-menu-inner ul li .menu-toggle {
  width: 30px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: transparent;
}
.lh-side-cart .lh-menu-inner ul li .menu-toggle::before {
  content: "+";
  font-size: 22px;
  font-weight: 400;
  color: #777;
}
.lh-side-cart .lh-menu-inner ul li .menu-toggle i {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #444;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.lh-side-cart .lh-menu-inner ul li .sub-menu li a:hover {
  opacity: 1;
}

.lh-menu-open {
  left: 0 !important;
}

@media (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-lg .navbar-collapse .collapse:not(.show) {
    display: block;
  }
  .collapse {
    visibility: inherit !important;
  }
}
/* Footer */

footer .footer-top-section .lh-social-media .lh-footer-social .lh-control-footer .form-control {
  background: #4b4b4c;
  color: #fff;
}
footer .footer-top-section .lh-social-media .lh-footer-social .lh-control-footer .form-control::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.702);
}
footer .footer-top-section .lh-social-media .lh-footer-social .lh-control-footer .form-control::-moz-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.702);
}
footer .footer-top-section .lh-social-media .lh-footer-social .lh-control-footer .form-control:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.702);
}
footer .footer-top-section .lh-social-media .lh-footer-social .lh-control-footer .form-control::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.702);
}
footer .footer-top-section .lh-social-media .lh-footer-social .lh-control-footer .form-control::placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.702);
}

/* Pages */
/* Amenities */
.lh-amenities-in .amenities-contain a:hover i {
  margin-left: 5px;
}

/*  Blog */
.section-blog .blog-card:hover figure:before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
.section-blog .blog-card figure {
  border-radius: 15px;
}
.section-blog .blog-card figure:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.lh-our-blog .lh-our-blog-categories ul li a:hover span {
  color: #7b6c55;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.lh-our-blog-instagram .lh-our-blog-instagram-image .lh-our-blog-instagram-image-inner {
  grid-template-columns: repeat(auto-fill, calc(25% - 10px));
}
.lh-our-blog-instagram .lh-our-blog-instagram-image .lh-our-blog-instagram-image-inner a {
  position: relative;
}
.lh-our-blog-instagram .lh-our-blog-instagram-image .lh-our-blog-instagram-image-inner a:hover:after, .lh-our-blog-instagram .lh-our-blog-instagram-image .lh-our-blog-instagram-image-inner a:hover:before {
  opacity: 1;
}
.lh-our-blog-instagram .lh-our-blog-instagram-image .lh-our-blog-instagram-image-inner a:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  opacity: 0;
}
.lh-our-blog-instagram .lh-our-blog-instagram-image .lh-our-blog-instagram-image-inner a:before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "\ee66";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: remixicon !important;
  color: #fff;
  z-index: 5;
  font-size: 20px;
  font-weight: 300;
  opacity: 0;
}

/* Checkout Page CSS */
.checkout-page [type=radio]:checked {
  position: absolute;
  left: -9999px;
}
.checkout-page [type=radio]:checked + label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  line-height: 16px;
  display: inline-block;
  color: #2b2b2d;
  letter-spacing: 0;
}
.checkout-page [type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #7b6c55;
}
.checkout-page [type=radio]:checked + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #7b6c55;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.checkout-page [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkout-page [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  line-height: 16px;
  display: inline-block;
  color: #2b2b2d;
  letter-spacing: 0;
}
.checkout-page [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.checkout-page [type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #7b6c55;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.check-dash {
  z-index: 5;
}

.lh-checkout-wrap .lh-check-bill-form .lh-bl-select-inner::after {
  content: "\ea4e";
  position: absolute;
  font-family: remixicon;
  top: 0;
  right: 0;
  padding: 0 10px;
  cursor: pointer;
  pointer-events: none;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2b2b2d;
}

/* Faq */
.ld-faq {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
.ld-faq .accordion .accordion-item:not(:nth-child(1)) {
  margin-top: 10px;
}
.ld-faq .accordion .accordion-item .accordion-button {
  background-color: #f7f5f1;
  color: #000;
}
.ld-faq .accordion .accordion-item .accordion-button::after {
  background: none;
  font-family: "remixicon";
  content: "\ea4e";
  font-size: 20px;
  line-height: 18px;
}
.ld-faq .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background: none;
  font-family: "remixicon";
  content: "\ea4e";
  font-size: 20px;
  color: #7b6c55;
  line-height: 18px;
}
.ld-faq .accordion .accordion-item .accordion-collapse {
  border-radius: 10px;
  visibility: visible;
}

/*  Gallery */
.gallery_sec figure {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.gallery_sec figure img {
  width: 100%;
}

.card-columns figure:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
}
.card-columns figure:hover:before {
  -webkit-animation: shine 0.75s;
          animation: shine 0.75s;
}
.card-columns figure:hover .gallery-img:before, .card-columns figure:hover .gallery-img:after {
  opacity: 1;
}
.card-columns figure img {
  width: 100%;
}
.card-columns figure .gallery-img:before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.card-columns figure .gallery-img:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "\f0d1";
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 3;
  font-size: 25px;
  font-family: remixicon !important;
  opacity: 0;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #fff;
  word-wrap: break-word;
  padding-right: 36px;
  font-weight: 300;
  letter-spacing: 0.03rem;
  font-size: 14px;
}

.mfp-counter {
  font-size: 14px;
}

.mfp-bg {
  background: #000;
}

/*  Gallery-2 */
.lh-gallery-second .magnific-img:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.lh-gallery-second .magnific-img:hover:before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
.lh-gallery-second .magnific-img:hover .gallery-img:before, .lh-gallery-second .magnific-img:hover .gallery-img:after {
  opacity: 1;
}
.lh-gallery-second .magnific-img .gallery-img:before {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  border-radius: 15px;
}
.lh-gallery-second .magnific-img .gallery-img:after {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  content: "\f0d1";
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 3;
  font-size: 25px;
  font-family: remixicon !important;
  opacity: 0;
}

.lh-gallery-second .lh-gallery-in img {
  width: 100%;
  height: 270px;
  border-radius: 15px;
}
.lh-gallery-second .lh-gallery-in img:hover {
  opacity: 1;
}
.lh-gallery-second .lh-gallery-in:last-child {
  padding-top: 30px;
}

/* Home-page */
.search-box .custom-select .custom-select:after {
  right: 15px;
  font-size: 18px;
}

@media screen and (max-width: 1023px) {
  .section-search-control {
    position: relative !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-search-control .search-control-boxing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*  Prices */
.lh-prices {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
.lh-prices:hover .prices-image {
  -webkit-filter: grayscale(0) contrast(100%);
          filter: grayscale(0) contrast(100%);
}
.lh-prices .prices-image {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-filter: grayscale(1) contrast(90%);
          filter: grayscale(1) contrast(90%);
}
.lh-prices .prices-image.active {
  -webkit-filter: grayscale(0) contrast(100%);
          filter: grayscale(0) contrast(100%);
}

/* Responsive */
@media screen and (max-width: 1023px) {
  .lh-prices {
    max-width: 450px;
    margin: auto;
  }
}
/* Restaurant */
.lh-menu-restaurant .lh-menu-buttons {
  background-color: #f7f5f1 !important;
  border: 1px solid #e3e1e1 !important;
  border-radius: 15px !important;
}
.lh-menu-restaurant .nav-link.active {
  border: 1px solid #7b6c55 !important;
}

/* Room-details */
.lh-room-details .slick-slider {
  overflow: hidden;
}
.lh-room-details .slider-nav .slick-list {
  margin: 0 -12px;
  width: calc(100% + 24px);
}
.lh-room-details .slider-nav .slick-slide {
  padding: 0 12px;
}

.lh-side-room .lh-side-reservation .lh-side-reservation-from:not(:last-child) {
  padding-top: 24px;
}
.lh-side-room .lh-side-reservation .lh-side-reservation-from .form-check input {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}
.lh-side-room .lh-side-reservation .lh-side-reservation-from .form-check input:checked {
  background-color: #7b6c55;
  border-color: #7b6c55;
}
.lh-side-room .lh-side-reservation .lh-side-reservation-from ul {
  min-width: 100px;
  margin-top: 10px;
  left: -12px;
  right: -12px;
}

/* Room */
.lh-room button {
  padding: 0 12px;
  font-family: "Cardo";
}
.lh-room button:hover {
  color: #000;
}

.nav-tabs.rooms .nav-link img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%) contrast(90%);
          filter: grayscale(100%) contrast(90%);
}
.nav-tabs.rooms .nav-link img:hover {
  -webkit-filter: grayscale(0%) contrast(100%);
          filter: grayscale(0%) contrast(100%);
}
.nav-tabs.rooms .nav-link.active {
  position: relative;
}
.nav-tabs.rooms .nav-link.active img {
  margin-bottom: 15px;
  position: relative;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-filter: grayscale(0%) contrast(100%);
          filter: grayscale(0%) contrast(100%);
}
.nav-tabs.rooms .nav-link.active img:after {
  content: "\eb79";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-tabs.rooms .nav-link.active:after {
  content: "\eb79";
  width: 30px;
  height: 30px;
  font-family: remixicon !important;
  position: absolute;
  top: 5px;
  right: 17px;
  color: #7b6c55;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #7b6c55;
}
.nav-tabs.rooms .nav-link.active:hover:after {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: 0.8s;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}


@-webkit-keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.section-room .nav-tabs {
  margin: 0 -12px !important;
}
.section-room .tab-content:hover .room-img a.link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: -100px;
  right: -100px;
}
.section-room .tab-content:hover .room-img a.link i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: 125px;
  right: 125px;
}

.room-img .room-image {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.lh-room-contain .lh-room-price h4 {
  font-family: "Roboto";
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room:last-child {
  padding-left: 25px;
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room ul {
  list-style-type: disc;
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room ul li:not(:last-child) {
  padding-bottom: 15px;
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room ul li::marker {
  color: #7b6c55;
}

@media screen and (max-width: 1279px) {
  .room-img {
    padding: 0 24px 24px 24px;
  }
  .room-img .room-image {
    border-radius: 15px !important;
  }
}
@media screen and (max-width: 991px) {
  .tab-content {
    margin-top: 0px;
  }
  .lh-room button {
    font-size: 18px;
  }
  .nav-tabs.rooms .nav-link {
    width: 50%;
    margin-bottom: 24px !important;
  }
}
@media screen and (max-width: 767px) {
  .lh-room button {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .lh-room-contain .lh-contain-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lh-room-contain .lh-contain-heading .lh-room-price {
    margin-top: 15px;
  }
  .lh-room-contain .lh-main-features .lh-room-features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lh-room-contain .lh-main-features .lh-room-features .lh-cols-room:last-child {
    padding-top: 15px;
    padding-left: 0;
  }
}
@media screen and (max-width: 360px) {
  .nav-tabs.rooms .nav-link {
    width: 100%;
  }
}
/* Spa */
.lh-spa-gallery:hover:after {
  opacity: 1;
  bottom: -100px;
  right: -100px;
}
.lh-spa-gallery:hover:before {
  opacity: 1;
  bottom: 25px;
  right: 25px;
}
.lh-spa-gallery:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  right: -200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.lh-spa-gallery:before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "\f0d1";
  font-family: remixicon !important;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 28px;
  color: #fff;
  z-index: 5;
  opacity: 0;
}

/* Team */
.lh-team:hover .lh-team-image {
  border: 1px solid #7b6c55;
}
.lh-team:hover .lh-team-image .lh-team-inner {
  right: 8px;
  opacity: 1;
}
.lh-team:hover .lh-team-contain i {
  color: #7b6c55;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

/* Responsive */
@media screen and (max-width: 1023px) {
  .lh-team .lh-team-image .lh-team-inner {
    right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .lh-team {
    margin: auto;
    max-width: 380px;
  }
}
/*  testimonials */
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #7b6c55;
  width: 10px;
  height: 10px;
}

.slick-slider {
  margin-bottom: 0px;
}


    .pattern {
        /* From - https://bgjar.com/meteor */
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' opacity='0.05' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M905 408L904 38' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M607 269L606 125' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M68 213L67 365' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1397 326L1396 563' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M365 418L364 761' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M293 317L292 38' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1247 130L1246 508' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1339 5L1338 -305' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M831 7L830 -367' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M113 250L112 605' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M967 177L966 -236' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M922 538L921 160' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1109 316L1108 32' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1281 270L1280 50' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1280 403L1279 17' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M308 106L307 490' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M517 147L516 374' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M690 30L689 341' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M614 367L613 154' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M770 486L769 188' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1336 235L1335 573' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M303 441L302 96' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M970 211L969 384' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M151 243L150 26' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M184 391L183 201' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1299 123L1298 -228' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1024 466L1023 254' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1385 330L1384 546' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M991 172L990 552' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M600 461L599 254' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M146 544L145 145' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M539 421L538 723' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1408 130L1407 316' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cg fill='none' stroke='url(%23SvgjsLinearGradient1022)' stroke-width='10'%3e%3cpath d='M1134 160L1133 572'/%3e%3cpath d='M1133 168L1132 680'/%3e%3cpath d='M990 552L989 1064'/%3e%3cpath d='M147 544L146 1056'/%3e%3cpath d='M1232 374L1231 1118'/%3e%3cpath d='M1276 376L1275 1120'/%3e%3c/g%3e%3c/svg%3e");
    }
    .floating-sidebar {
        position: fixed;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        z-index: 20;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: rgba(255, 255, 255, 0.5);
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(229, 231, 235, 0.3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }
    .floating-sidebar a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.375rem;
        transition: background-color 0.3s, color 0.3s;
    }
    .floating-sidebar a:hover {
        background-color: rgba(31, 41, 55, 0.1);
        color: rgba(31, 41, 55, 0.9);
    }

.section-testimonials button.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 15px;
}
.section-testimonials button.slick-prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 15px;
  z-index: 5;
}
.section-testimonials button.slick-prev, .section-testimonials button.slick-next {
  border: 0;
  font-size: 0 !important;
}
.section-testimonials button.slick-prev .prev-slick-arrow, .section-testimonials button.slick-prev .next-slick-arrow, .section-testimonials button.slick-next .prev-slick-arrow, .section-testimonials button.slick-next .next-slick-arrow {
  display: none !important;
  font-size: 0 !important;
}

.prev-slick-img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 275px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 15px;
  z-index: 5;
}
.prev-slick-img img {
  width: 275px;
  border-radius: 15px;
}
.prev-slick-img::after {
  content: "";
  width: 235px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #7b6c55;
  border-radius: 15px;
  margin: 20px;
}

.slick-prev,
.slick-next {
  z-index: 100;
}
.slick-prev img,
.slick-next img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.slick-prev:hover img,
.slick-next:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.next-slick-img {
  position: absolute;
  right: 0;
  top: 50%;
  width: 275px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 15px;
}
.next-slick-img img {
  width: 275px;
  border-radius: 15px;
}
.next-slick-img::after {
  content: "";
  width: 235px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #7b6c55;
  border-radius: 15px;
  margin: 20px;
}

/* Booking Engine Modal */
.modal-enter {
    opacity: 0;
    transform: scale(0.9);
}
.modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s, transform 0.3s;
}
.modal-leave {
    opacity: 1;
    transform: scale(1);
}
.modal-leave-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s, transform 0.3s;
}


/* Responsive */
@media screen and (max-width: 1399px) {
  .prev-slick-img {
    width: 257px;
  }
  .prev-slick-img img {
    width: 257px;
  }
  .prev-slick-img::after {
    width: 217px;
  }
  .next-slick-img {
    width: 257px;
  }
  .next-slick-img img {
    width: 257px;
  }
  .next-slick-img::after {
    width: 217px;
  }
}
@media screen and (max-width: 1280px) {
  .testimonials_image_1::after {
    width: 82%;
    height: 89%;
  }
  .prev-slick-img {
    width: 212px;
  }
  .prev-slick-img img {
    width: 212px;
  }
  .prev-slick-img::after {
    width: 172px;
  }
  .next-slick-img {
    width: 212px;
  }
  .next-slick-img img {
    width: 212px;
  }
  .next-slick-img::after {
    width: 172px;
  }
}
@media screen and (max-width: 1023px) {
  .next-slick-img {
    display: none;
  }
  .prev-slick-img {
    display: none;
  }
  .pagipagination-testimonials .swiper-pagination {
    width: 10%;
    right: 0;
    left: auto;
  }
  .testimonials_image_1::after {
    width: 88%;
    height: 93%;
  }
}
@media screen and (max-width: 767px) {
  .testimonials_image_1::after {
    width: 84%;
    height: 90%;
  }
}
@media screen and (max-width: 575px) {
  .swiper {
    padding: 0 10px;
  }
  .lh-testimonials {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */
