/* chatbot.css */

/* General styles */
#chatbox {
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #chatbot-chat {
    resize: both;
    overflow: hidden;
  }
  
  #chatbot-container {
    transition: opacity 0.3s ease-in-out !important;
    padding-top: 4rem !important;
    z-index: 100 !important;
  }
  
  #chatbot-toggle {
    transition: transform 0.3s ease-in-out !important;
    animation: bounceIn 2s ease-in-out !important;
    z-index: 50 !important;
  }
  
  .chatbot-icon {
    width: 60px !important;
    height: 60px !important;
    display: inline-block !important;
    vertical-align: middle !important;
  }

  
  @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    70% {
      transform: translateY(10px);
    }
    90% {
      transform: translateY(-5px);
    }
  }
  
  #chatbot-toggle:hover .chatbot-icon {
    transform: scale(1.1) !important;
    transition: transform 0.2s ease-in-out !important;
  }
  
  #chatbot-header {
    background-image: url('/static/dist/img/svg/curve-background.svg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 20 !important;
  }
  
  .message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 10px !important;
    max-width: 75% !important;
  }
  
  .message.bot {
    background-color: #E0F7FA !important;
    align-self: flex-start !important;
  }
  
  .message.user {
    background-color: #F1F0F0 !important;
    align-self: flex-end !important;
  }
  
  .input-area {
    border-top: 1px solid #E0E0E0 !important;
    display: flex !important;
    align-items: center !important;
    padding: 10px !important;
  }
  
  #user-input {
    width: 100% !important;
    padding: 10px !important;
    border: none !important;
    outline: none !important;
    border-radius: 10px !important;
    background-color: #F9F9F9 !important;
  }
  
  .send-button {
    background-color: #3490dc !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 10px !important;
  }
  
  .send-button:hover {
    background-color: #2779bd !important;
  }
  
  .send-button svg {
    width: 24px !important;
    height: 24px !important;
  }
  
  @media screen and (max-width: 640px) {
    #chatbot-container {
      width: 100% !important;
      right: 0 !important;
      left: 0 !important;
      height: 100% !important;
      max-height: 100% !important;
      border-radius: 0 !important;
      position: sticky !important;
      z-index: 1100 !important;
    }
  
    #chatbot-toggle {
      bottom: 5rem !important;
      right: 2rem !important;
      display: block !important;
    }
  
    .chatbot-icon {
      width: 60px !important;
      height: 60px !important;
    }
  
    #chatbox {
      padding: 1rem !important;
    }
  
    .input-area {
      padding: 0.5rem !important;
    }
  
    .send-button {
      padding: 0.5rem !important;
    }
  
    .send-button svg {
      width: 20px !important;
      height: 20px !important;
    }
    .rounded-t-lg {
      border-top-left-radius: 0 !important; 
      border-top-right-radius: 0 !important; 
    }
  }