@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.fade-out-on-scroll {
  transition: opacity 0.5s ease;
}

/* Base styles for the section and gallery */
.section-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 10; /* Lower z-index than the sidebar */
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20; /* Lower z-index than the sidebar */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevent overflow */
}

.gallery .cards {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 40rem;
  transition: transform 0.5s ease;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50rem;
  height: 40rem;
  text-align: center;
  line-height: 40rem;
  font-size: 2rem;
  font-family: sans-serif;
  background-color: #9d7cce;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
  overflow: hidden;
  flex: 0 0 100%;
  max-width: 100%;
}

.cards li img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire card area */
  object-position: center; /* Center the image */
  border-radius: 0.8rem;
}

@media (max-width: 767px) {
  .gallery .cards {
    width: 100%;
    height: 70vh; /* Increase height on mobile */
  }
  .cards li {
    width: 100%;
    height: 70vh; /* Increase height on mobile */
    line-height: normal;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Center the image */
    border-radius: 0.8rem;
  }
}

@media (max-width: 480px) {
  .gallery .cards {
    height: 70vh; /* Adjust as necessary */
  }
  .cards li {
    height: 70vh; /* Ensure correct height for mobile */
  }
}
