@tailwind base;
@tailwind components;
@tailwind utilities;

/* Room-details */
.lh-room-details .slick-slider {
  overflow: hidden;
}
.lh-room-details .slider-nav .slick-list {
  margin: 0 -12px;
  width: calc(100% + 24px);
}
.lh-room-details .slider-nav .slick-slide {
  padding: 0 12px;
}

.lh-side-room .lh-side-reservation .lh-side-reservation-from:not(:last-child) {
  padding-top: 24px;
}
.lh-side-room .lh-side-reservation .lh-side-reservation-from .form-check input {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}
.lh-side-room .lh-side-reservation .lh-side-reservation-from .form-check input:checked {
  background-color: #676663;
  border-color: #676663;
}
.lh-side-room .lh-side-reservation .lh-side-reservation-from ul {
  min-width: 100px;
  margin-top: 10px;
  left: -12px;
  right: -12px;
}

/* Room */
.lh-room button {
  padding: 0 12px;
  font-family: "Poppins";
}
.lh-room button:hover {
  color: #000;
}

.nav-tabs.rooms .nav-link img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%) contrast(90%);
          filter: grayscale(100%) contrast(90%);
}
.nav-tabs.rooms .nav-link img:hover {
  -webkit-filter: grayscale(0%) contrast(100%);
          filter: grayscale(0%) contrast(100%);
}
.nav-tabs.rooms .nav-link.active {
  position: relative;
}
.nav-tabs.rooms .nav-link.active img {
  margin-bottom: 15px;
  position: relative;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-filter: grayscale(0%) contrast(100%);
          filter: grayscale(0%) contrast(100%);
}
.nav-tabs.rooms .nav-link.active img:after {
  content: "\eb79";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-tabs.rooms .nav-link.active:after {
  content: "\eb79";
  width: 30px;
  height: 30px;
  font-family: remixicon !important;
  position: absolute;
  top: 5px;
  right: 17px;
  color: #676663;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #676663;
}
.nav-tabs.rooms .nav-link.active:hover:after {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: 0.8s;
  animation-iteration-count: 0.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; /* Standard property */
}



@-webkit-keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.section-room .nav-tabs {
  margin: 0 -12px !important;
}
.section-room .tab-content:hover .room-img a.link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: -100px;
  right: -100px;
}
.section-room .tab-content:hover .room-img a.link i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: 125px;
  right: 125px;
}

.room-img .room-image {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.lh-room-contain .lh-room-price h4 {
  font-family: "Roboto";
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room:last-child {
  padding-left: 25px;
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room ul {
  list-style-type: disc;
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room ul li:not(:last-child) {
  padding-bottom: 15px;
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room ul li::marker {
  color: #676663;
}

@media screen and (max-width: 1279px) {
  .room-img {
    padding: 0 24px 24px 24px;
  }
  .room-img .room-image {
    border-radius: 15px !important;
  }
}
@media screen and (max-width: 991px) {
  .tab-content {
    margin-top: 0px;
  }
  .lh-room button {
    font-size: 18px;
  }
  .nav-tabs.rooms .nav-link {
    width: 50%;
    margin-bottom: 24px !important;
  }
}
@media screen and (max-width: 767px) {
  .lh-room button {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .lh-room-contain .lh-contain-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lh-room-contain .lh-contain-heading .lh-room-price {
    margin-top: 15px;
  }
  .lh-room-contain .lh-main-features .lh-room-features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lh-room-contain .lh-main-features .lh-room-features .lh-cols-room:last-child {
    padding-top: 15px;
    padding-left: 0;
  }
}
@media screen and (max-width: 360px) {
  .nav-tabs.rooms .nav-link {
    width: 100%;
  }
}