@tailwind base;
@tailwind components;
@tailwind utilities;

/* common */
body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 26px !important;
  letter-spacing: 0.02rem;
  background-color: #f3f3f1;
}

.hero-image {
    background-size: cover;
    background-position: bottom;
    background-blend-mode: overlay;
    transition: transform 0.5s ease;
}

@layer utilities {
  .delay-500ms {
      animation-delay: 0.5s;
  }
  .delay-1000ms {
      animation-delay: 1s;
  }
}

::-moz-selection {
  color: #676663;
  background: rgba(237, 90, 49, 0.15);
}

::selection {
  color: #676663;
  background: rgba(237, 90, 49, 0.15);
}

.font-Montserrat {
  font-family: "Montserrat";
}

.font-Roboto {
  font-family: "Roboto";
}

.font-Poppins {
  font-family: "Poppins";
}

.wordspac_15 {
  word-spacing: 15px;
}

p, li, a {
  margin-bottom: 0;
  font-family: "Roboto";
  font-size: 15px;
  color: #777;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.03rem;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins";
  color: #fafafa;
  margin-bottom: 0;
  letter-spacing: 0.03rem;
}
 
/* Side-tool */
.lh-tool-active {
  right: 0 !important;
  z-index: 16 !important;
}

ul.skin-mode li.active:before {
  font-family: "remixicon";
  content: "\f3b3";
  font-size: 17px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fafafa;
  border-radius: 5px;
}

ul.lh-color .c1 {
  background: #676663;
}
ul.lh-color .c2 {
  background: #3e9172;
}
ul.lh-color .c3 {
  background: #677993;
}
ul.lh-color .c4 {
  background: #d31111;
}
ul.lh-color .c5 {
  background: #d3b41c;
}
ul.lh-color .c6 {
  background: #db98b1;
}
ul.lh-color .c7 {
  background: #799ffe;
}
ul.lh-color .c8 {
  background: #F2709C;
}
ul.lh-color .c9 {
  background: #ff8763;
}

ul.dark-mode .dark {
  background-color: #1f2531;
}
ul.dark-mode .white {
  background-color: #fafafa;
}

.active-dark-mode:before {
  font-family: "remixicon";
  content: "\f3b3";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
  font-weight: 100;
}

.active-colors:before {
  height: 30px;
  font-family: "remixicon";
  content: "\f3b3";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fafafa;
  padding: 0;
  font-weight: 100;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .wordspac_15 {
    word-spacing: 5px;
  }
}
@media screen and (max-width: 480px) {
  .py-side-border {
    display: none;
  }
}

/* Checkout Page CSS */
.checkout-page [type=radio]:checked {
  position: absolute;
  left: -9999px;
}
.checkout-page [type=radio]:checked + label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  line-height: 16px;
  display: inline-block;
  color: #2b2b2d;
  letter-spacing: 0;
}
.checkout-page [type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fafafa;
  border: 1px solid #676663;
}
.checkout-page [type=radio]:checked + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #676663;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.checkout-page [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkout-page [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  line-height: 16px;
  display: inline-block;
  color: #2b2b2d;
  letter-spacing: 0;
}
.checkout-page [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fafafa;
}
.checkout-page [type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #676663;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.check-dash {
  z-index: 5;
}

.lh-checkout-wrap .lh-check-bill-form .lh-bl-select-inner::after {
  content: "\ea4e";
  position: absolute;
  font-family: remixicon;
  top: 0;
  right: 0;
  padding: 0 10px;
  cursor: pointer;
  pointer-events: none;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2b2b2d;
}

/* Restaurant */
.lh-menu-restaurant .lh-menu-buttons {
  background-color: #f7f5f1 !important;
  border: 1px solid #e3e1e1 !important;
  border-radius: 15px !important;
}
.lh-menu-restaurant .nav-link.active {
  border: 1px solid #676663 !important;
}

/* Spa */
.lh-spa-gallery:hover:after {
  opacity: 1;
  bottom: -100px;
  right: -100px;
}
.lh-spa-gallery:hover:before {
  opacity: 1;
  bottom: 25px;
  right: 25px;
}
.lh-spa-gallery:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  right: -200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.lh-spa-gallery:before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "\f0d1";
  font-family: remixicon !important;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 28px;
  color: #fafafa;
  z-index: 5;
  opacity: 0;
}

/* Team */
.lh-team:hover .lh-team-image {
  border: 1px solid #676663;
}
.lh-team:hover .lh-team-image .lh-team-inner {
  right: 8px;
  opacity: 1;
}
.lh-team:hover .lh-team-contain i {
  color: #676663;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

/* Responsive */
@media screen and (max-width: 1023px) {
  .lh-team .lh-team-image .lh-team-inner {
    right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .lh-team {
    margin: auto;
    max-width: 380px;
  }
}