@tailwind base;
@tailwind components;
@tailwind utilities;

/* common */
body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 26px !important;
  letter-spacing: 0.02rem;
  background-color: #d0cfcb;
}


/* Apply background images to the body */
body::before, body::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 45%; /* Adjust as needed */
  background-repeat: no-repeat;
  background-size: contain; /* Adjust as needed */
  opacity: 0.15;
  z-index: -1; /* Ensure it's behind the content */
  pointer-events: none; /* Ensure it doesn't interfere with interactions */
  display: block; /* Ensure they are rendered */
}

body::before {
  left: 1rem;
  background-image: url("/static/dist/img/background/BackgroundLeft.svg");
  background-position: left bottom;
}

body::after {
  right: 1rem;
  width: 20%;
  background-image: url("/static/dist/img/background/BackgroundRight.svg");
  background-position: right bottom;
}
/* Media query for phones */
@media (max-width: 767px) {
  body::before {
    display: none; /* Hide the left background image */
  }

  body::after {
    left: auto; 
    right: 0.2rem;
    bottom: 0;
    width: 70%; 
    height: auto;
    background-size: contain; 
    background-position: right bottom; 
    opacity: 0.15; 
  }
}

/* Ensure the hero section is positioned relative */
#hero {
  position: relative;
  z-index: 1; /* Ensure it's above the background images */
}

.hero-image {
    background-size: cover;
    background-position: bottom;
    background-blend-mode: overlay;
    transition: transform 0.5s ease;
}

@layer utilities {
  .delay-500ms {
      animation-delay: 0.5s;
  }
  .delay-1000ms {
      animation-delay: 1s;
  }
}

::-moz-selection {
  color: #676663;
  background: rgba(237, 90, 49, 0.15);
}

::selection {
  color: #676663;
  background: rgba(237, 90, 49, 0.15);
}

.font-Montserrat {
  font-family: "Montserrat";
}

.font-Roboto {
  font-family: "Roboto";
}

.font-Poppins {
  font-family: "Poppins";
}

.wordspac_15 {
  word-spacing: 15px;
}

p, li, a {
  margin-bottom: 0;
  font-family: "Roboto";
  font-size: 15px;
  color: #777;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.03rem;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins";
  color: #fafafa;
  margin-bottom: 0;
  letter-spacing: 0.03rem;
}
 

