<section class="section-amenities relative xl:py-[100px] py-[70px]"
    id="{% if lang_code == 'es' %}lujos{% else %}luxuries{% endif %}">
    <div
        class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] relative">
        <div class="text-center w-full mb-[30px]" data-aos="fade-up" data-aos-duration="2000">
            <h2
                class="text-[#464644] font-medium leading-[1.2] 2xl:text-[40px] xl:text-[35px] xl:pb-0 lg:text-[30px] md:text-[28px] sm:text-[26px] text-[22px]">
                {% if lang_code == 'es' %}Olivea Farm to Table: En la{% else %} Olivea Farm to Table: In the The{% endif
                %} <span class="text-[#388eea]">{% if lang_code == 'es' %} Guía Michelin{%
                    else %} Michelin Guide{% endif %}</span></h2>
        </div>
        <div class="flex flex-wrap mb-[-24px]">
            <div class="md:w-1/2 w-full px-[12px] mb-[24px]">
                <div class="lh-amenities shadow-[0_0_50px_0_rgba(0,0,0,0.1)] bg-[#fafafa] bg-opacity-45 backdrop-filter backdrop-blur-lg flex rounded-[15px] overflow-hidden"
                    data-aos="fade-up" data-aos-duration="1500">
                    <div class="amenities-detail flex flex-wrap xl:flex-row flex-col-reverse">
                        <div class="amenities-box xl:w-[50%] xl:p-0 w-[100%] p-[24px] flex items-center justify-center">
                            <picture>
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA_2-300.webp') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA_2-600.webp') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA_2-900.webp') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA_2-300.png') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA_2-600.png') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA_2-900.png') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/png">
                                <img src="{{ url_for('static', filename='dist/img/services/OLIVEA_2-600.png') }}"
                                    alt="{% if lang_code == 'es' %}Olivea Farm To Table en MYA{% else %}Olivea Farm To Table at MYA{% endif %}"
                                    class="w-full h-full xl:rounded-none rounded-[15px] object-cover lazyload"
                                    width="600" height="400" loading="lazy">
                            </picture>
                        </div>
                        <div class="amenities-box xl:w-[50%] xl:p-0 w-[100%] p-[24px] flex items-center justify-center">
                            <div class="lh-amenities-in relative xl:p-[24px] px-[0]">
                                <div class="amenities-contain">
                                    <h4
                                        class="amenities-heading xl:text-[22px] text-[18px] font-bold text-[#464644] leading-[1.2]">
                                        A Remarkable Achievement</h4>
                                    <p class="text-[14px] lg:py-[15px] md:py-[10px] py-[5px]"> {% if lang_code == 'es'
                                        %} Olivea Farm to Table ofrece una experiencia gastronómica memorable,
                                        recientemente destacada en la Guía Michelin. {% else %} Olivea Farm to Table is
                                        thrilled to announce our inclusion in the prestigious Michelin Guide, a
                                        remarkable feat considering we've been open for less than a year.{% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 w-full px-[12px] mb-[24px]">
                <div class="lh-amenities shadow-[0_0_50px_0_rgba(0,0,0,0.1)] bg-[#fafafa] bg-opacity-45 backdrop-filter backdrop-blur-lg flex rounded-[15px] overflow-hidden"
                    data-aos="fade-up" data-aos-duration="2000">
                    <div class="amenities-detail flex flex-wrap xl:flex-row flex-col-reverse">
                        <div class="amenities-box xl:w-[50%] xl:p-0 w-[100%] p-[24px] flex items-center justify-center">
                            <picture>
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA_3-300.webp') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA_3-600.webp') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA_3-900.webp') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA_3-300.png') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA_3-600.png') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA_3-900.png') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/png">
                                <img src="{{ url_for('static', filename='dist/img/services/OLIVEA_3-600.png') }}"
                                    alt="{% if lang_code == 'es' %}Alberca en el patio de MYA{% else %}Pool within MYA courtyard{% endif %}"
                                    class="w-full h-full xl:rounded-none rounded-[15px] object-cover lazyload"
                                    width="600" height="400" loading="lazy">
                            </picture>
                        </div>
                        <div class="amenities-box xl:w-[50%] xl:p-0 w-[100%] p-[24px] flex items-center justify-center">
                            <div class="lh-amenities-in relative xl:p-[24px] px-[0]">
                                <div class="amenities-contain">
                                    <h4
                                        class="amenities-heading xl:text-[22px] text-[18px] font-bold text-[#464644] leading-[1.2]">
                                        Our Journey to Excellence</h4>
                                    <p class="text-[14px] lg:py-[15px] md:py-[10px] py-[5px]"> {% if lang_code == 'es'
                                        %} La alberca de MYA, situada en el patio y rodeada de olivos, es el punto
                                        central perfecto de nuestro hotel. {% else %} Our mission is to provide the
                                        highest quality dishes using organic ingredients directly from our farm, every
                                        plate is a work of art that delights the senses. {%
                                        endif %} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 w-full px-[12px] mb-[24px]">
                <div class="lh-amenities shadow-[0_0_50px_0_rgba(0,0,0,0.1)] bg-[#fafafa] bg-opacity-45 backdrop-filter backdrop-blur-lg flex rounded-[15px] overflow-hidden"
                    data-aos="fade-up" data-aos-duration="2000">
                    <div class="amenities-detail flex flex-wrap xl:flex-row flex-col">
                        <div
                            class="amenities-box xl:w-[50%] xl:p-0 w-[100%] px-[24px] pt-[24px] flex items-center justify-center">
                            <div class="lh-amenities-in relative xl:p-[24px] px-[0] lh-amenities-right">
                                <div class="amenities-contain">
                                    <h4
                                        class="amenities-heading xl:text-[22px] text-[18px] font-bold text-[#464644] leading-[1.2]">
                                        {% if lang_code == 'es' %}Nuestro Spa{% else %}Join Us in Celebrating{% endif %}
                                    </h4>
                                    <p class="text-[14px] lg:py-[15px] md:py-[10px] py-[5px]"> {% if lang_code == 'es'
                                        %} ¿Buscan recuperarse del estrés diario? Regálense un masaje para parejas. {%
                                        else %} Come and experience the culinary excellence that has earned us a place
                                        in the Michelin Guide. We promise an unforgettable dining experience that honors
                                        the heart of our kitchen – the farm.{% endif %} </p>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-box xl:w-[50%] xl:p-0 w-[100%] p-[24px] flex items-center justify-center">
                            <picture>
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA-24-300.webp') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA-24-600.webp') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA-24-900.webp') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA-24-300.png') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA-24-600.png') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA-24-900.png') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/png">
                                <img src="{{ url_for('static', filename='dist/img/services/OLIVEA-24-600.png') }}"
                                    alt="{% if lang_code == 'es' %}Spa MYA{% else %}MYA Spa{% endif %}"
                                    class="w-full h-full xl:rounded-none rounded-[15px] object-cover lazyload"
                                    width="600" height="400" loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 w-full px-[12px] mb-[24px]">
                <div class="lh-amenities shadow-[0_0_50px_0_rgba(0,0,0,0.1)] bg-[#fafafa] bg-opacity-45 backdrop-filter backdrop-blur-lg flex rounded-[15px] overflow-hidden"
                    data-aos="fade-up" data-aos-duration="1500">
                    <div class="amenities-detail flex flex-wrap xl:flex-row flex-col">
                        <div
                            class="amenities-box xl:w-[50%] xl:p-0 w-[100%] px-[24px] pt-[24px] flex items-center justify-center">
                            <div class="lh-amenities-in relative xl:p-[24px] px-[0] lh-amenities-right">
                                <div class="amenities-contain">
                                    <h4
                                        class="amenities-heading xl:text-[22px] text-[18px] font-bold text-[#464644] leading-[1.2]">
                                        {% if lang_code == 'es' %}Nuestras Canchas de Pádel{% else %}Visit Olivea Farm
                                        to Table{%
                                        endif %} </h4>
                                    <p class="text-[14px] lg:py-[15px] md:py-[10px] py-[5px]"> {% if lang_code == 'es'
                                        %} Rodeadas de árboles, nuestras canchas de pádel son la manera perfecta de
                                        comenzar tu día de actividades. {% else %} Immerse yourself in the flavors of
                                        nature, surrounded by vibrant flowers, and majestic trees. Savor nature's bounty
                                        and beauty in every moment. {% endif %} </p><a
                                        href="{{ url_for('main.index_localized', lang_code=session.get('language', 'en')) }}"
                                        class="no-underline uppercase text-[12px] text-[#464644] font-bold hover:text-[#388eea]">
                                        {% if lang_code == 'es' %}Leer Más{% else %}Reserve Now{% endif %} <i
                                            class="ri-arrow-right-line text-[15px] ml-[2px] duration-[0.2s] ease-in-out"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-box xl:w-[50%] xl:p-0 w-[100%] p-[24px] flex items-center justify-center">
                            <picture>
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA_4-300.webp') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA_4-600.webp') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA_4-900.webp') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
                                <source
                                    srcset="{{ url_for('static', filename='dist/img/services/OLIVEA_4-300.png') }} 300w, {{ url_for('static', filename='dist/img/services/OLIVEA_4-600.png') }} 600w, {{ url_for('static', filename='dist/img/services/OLIVEA_4-900.png') }} 900w"
                                    sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
                                <img src="{{ url_for('static', filename='dist/img/services/OLIVEA_4-600.png') }}"
                                    alt="{% if lang_code == 'es' %}Canchas de Pádel de MYA{% else %}Padel Courts from MYA{% endif %}"
                                    class="w-full h-full xl:rounded-none rounded-[15px] object-cover lazyload"
                                    width="600" height="400" loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>