<nav id="floating-sidebar" class="fixed top-0 left-0 mt-20 lg:mt-40 ml-2 sm:ml-0 md:ml-4 lg:ml-8 z-20">
    <button id="michelinButton" class="focus:outline-none p-0 flex items-center justify-center w-10 h-10">
        <img src="{{ url_for('static', filename='dist/img/svg/michelin.svg') }}" alt="MichelinLogo2024" class="lazyload w-full h-full transform transition-transform duration-300 ease-in-out hover:scale-110 hover:shadow-lg animate-pulse rounded-full" loading="lazy">
    </button>
</nav>
{% block sweetalert2 %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const showPopup = function() {
            Swal.fire({
                title: "{% if lang_code == 'es' %}Olivea Farm to Table: El Restaurante Más Joven de México Reconocido por Michelin{% else %}Olivea Farm to Table: Mexico's Youngest Michelin-Recognized Restaurant{% endif %}",
                html: `
                    <h2 style="color: #000 !important; font-size: 1.5em !important; font-weight: bold !important; margin-bottom: 0.5em !important;">
                        {% if lang_code == 'es' %}Olivea Farm to Table: El Restaurante Más Joven de México Reconocido por Michelin{% else %}Olivea Farm to Table: Mexico's Youngest Michelin-Recognized Restaurant{% endif %}
                    </h2>
                    <p style="color: #000 !important; font-size: 1em !important; margin: 0.5em 0 !important;">
                        {% if lang_code == 'es' %}
                            Olivea Farm to Table anuncia con orgullo nuestra inclusión en la Guía Michelin, convirtiéndonos en el restaurante más joven de México en recibir este honor en menos de un año. Este reconocimiento destaca nuestro compromiso con experiencias culinarias excepcionales y principios de la granja a la mesa.
                        {% else %}
                            Olivea Farm to Table proudly announces our inclusion in the Michelin Guide, making us the youngest restaurant in Mexico to earn this honor in under a year. This recognition highlights our commitment to exceptional culinary experiences and farm-to-table principles.
                        {% endif %}
                    </p>
                    <h3 style="color: #000 !important; font-size: 1.5em !important; margin: 0.5em 0 !important;">
                        {% if lang_code == 'es' %}Nuestro Viaje{% else %}Our Journey{% endif %}
                    </h3>
                    <p style="color: #000 !important; font-size: 1em !important; margin: 0.5em 0 !important;">
                        {% if lang_code == 'es' %}
                            Lograr el reconocimiento de Michelin tan rápidamente es un testimonio de nuestro arduo trabajo, pasión y dedicación. Desde la semilla hasta el plato, nuestro enfoque en la agricultura orgánica y los ingredientes frescos nos distingue. Nos esforzamos por mejorar diariamente, asegurando que cada comida celebre la calidad, la sostenibilidad y el arte culinario.
                        {% else %}
                            Achieving Michelin recognition so quickly is a testament to our hard work, passion, and dedication. From seed to plate, our focus on organic farming and fresh ingredients sets us apart. We strive to improve daily, ensuring every meal celebrates quality, sustainability, and culinary artistry.
                        {% endif %}
                    </p>
                    <h3 style="color: #000 !important; font-size: 1.5em !important; margin: 0.5em 0 !important;">
                        {% if lang_code == 'es' %}Visita Olivea Farm to Table{% else %}Visit Olivea Farm to Table{% endif %}
                    </h3>
                    <p style="color: #000 !important; font-size: 1em !important; margin: 0.5em 0 !important;">
                        {% if lang_code == 'es' %}
                            Descubre la esencia de la cocina de la granja a la mesa en Olivea Farm to Table. Prueba la diferencia que hacen la calidad, la sostenibilidad y la pasión.
                        {% else %}
                            Discover the essence of farm-to-table dining at Olivea Farm to Table. Taste the difference that quality, sustainability, and passion make.
                        {% endif %}
                    </p>
                `,
                iconHtml: '<img src="{{ url_for('static', filename='dist/img/svg/michelin.svg') }}" alt="Michelin Logo" style="width: 80px; height: 80px; border: none; background: transparent;">',
                customClass: {
                    popup: 'swal2-popup-custom'
                },
                showCancelButton: true,
                cancelButtonText: "{% if lang_code == 'es' %}Cerrar{% else %}Close{% endif %}",
                confirmButtonText: "{% if lang_code == 'es' %}Visítanos{% else %}Visit Us{% endif %}",
                backdrop: `rgba(0,0,123,0.4)`,
                timer: 30000, // Popup closes after 30 seconds
                timerProgressBar: true,
                showClass: {
                    popup: 'animate__animated animate__bounceInLeft'
                },
                hideClass: {
                    popup: 'animate__animated animate__bounceOutLeft'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "https://wwww.oliveafarmtotable.com";
                }
            });
        };

        // Show the popup after 20 seconds
        setTimeout(showPopup, 10000);

        if (michelinButton) {
            michelinButton.addEventListener("click", showPopup);
        } else {
            console.error('Botón Michelin no encontrado');
        }
    });
</script>
{% endblock %}