<!-- Include JS for the chatbot -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">

<!-- Chatbot Toggle Button -->
<button id="chatbot-toggle"
    class="fixed bottom-4 right-4 bg-sky-300 text-white p-1 rounded-full shadow-lg hover:bg-sky-400 focus:outline-none"
    onclick="toggleChatbot()" aria-label="Toggle Chatbot" tabindex="0">
    <img src="{{ url_for('static', filename='img/svg/mya-ai.svg') }}" alt="Chatbot Icon" class="chatbot-icon">
</button>

<!-- Chatbot Container -->
<div id="chatbot-container"
    class="fixed bottom-4 right-4 w-80 max-h-96 border border-gray-300 shadow-lg bg-white rounded-lg shadow-lg flex flex-col hidden z-50"
    role="dialog" aria-labelledby="chatbot-header" tabindex="-1">
    <div id="chatbot-header"
        class="bg-sky-300 text-white p-2 cursor-move rounded-t-lg flex justify-between items-center">
        <span id="chatbot-header-title">Chat with our AI</span>
        <button onclick="closeChatbot()" class="text-white focus:outline-none" aria-label="Close Chatbot" tabindex="0">&times;</button>
    </div>
    <div id="chatbox" class="flex-1 p-4"></div>
    <input type="text" id="user-input" placeholder="Type a message..."
        class="p-2 border-t border-gray-300 focus:outline-none" aria-label="User Input" tabindex="0">
</div>

<!-- Include JS for the chatbot -->
<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
<script src="{{ url_for('static', filename='/js/feautres/feature1.js') }}"></script>
<script src="{{ url_for('static', filename='/js/feautres/feature2.js') }}"></script>
