{% if lang_code == 'es' %}
    {% if page_name == 'MYA' %}
        MYA Hotel Boutique - ES
    {% elif page_name == 'Olivea' %}
        Olivea - ES
    {% elif page_name == 'Divino' %}
        Divino - ES
    {% else %}
        MYA Hotel Boutique - ES
    {% endif %}
{% else %}
    {% if page_name == 'MYA' %}
        MYA Boutique Hotel - EN
    {% elif page_name == 'Olivea' %}
        Olivea - EN
    {% elif page_name == 'Divino' %}
        Divino - EN
    {% else %}
        MYA Boutique Hotel - EN
    {% endif %}
{% endif %}
