@tailwind base;
@tailwind components;
@tailwind utilities;

#chatbot-toggle {
  position: fixed !important; /* Fixes the button to the viewport */
  bottom: 20px !important;    /* Adjust the distance from the bottom of the viewport */
  right: 20px !important;     /* Adjust the distance from the right of the viewport */
  transition: transform 0.3s ease-in-out !important;
  animation: bounceIn 2s ease-in-out !important;
  z-index: 9999 !important;   /* Ensures the button appears above other elements */
}

.chatbot-icon {
  width: 60px !important;
  height: 60px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-5px);
  }
}

#chatbot-toggle:hover .chatbot-icon {
  transform: scale(1.1) !important;
  transition: transform 0.2s ease-in-out !important;
}