@tailwind base;
@tailwind components;
@tailwind utilities;

.chatbot-icon1 {
  position: fixed !important; /* Fixes the button to the viewport */
  bottom: 20px !important;    /* Positions the button 20px from the bottom of the viewport */
  right: 20px !important;     /* Positions the button 20px from the right side of the viewport */
  z-index: 1000 !important; /* Ensures the button stays on top of other elements */
  transition: transform 0.3s ease-in-out !important;
  animation: bounceIn 2s ease-in-out !important;
  cursor: pointer;            /* Ensures the cursor changes to a pointer on hover */
}

/* Whistle Chat Window */
.whistle-live-chat-widget {
  position: fixed;             /* Fixed positioning */
  bottom: 70px !important;     /* Adjust position so it doesn't overlap with the icon */
  right: 20px !important;      /* Position near the icon */
  z-index: 999 !important;     /* Ensure it stays below the icon when closed */
  pointer-events: none;        /* Ignore clicks when the chat window is closed */
}

.whistle-live-chat-widget.open {
  z-index: 1010 !important;    /* Bring chat window to the front when open */
  pointer-events: auto;        /* Enable clicks when the chat window is open */
}

.chatbot-icon {
  width: 60px !important;
  height: 60px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-5px);
  }
}

.chatbot-icon1:hover .chatbot-icon {
  transform: scale(1.1) !important;
  transition: transform 0.2s ease-in-out !important;
}