<section class="section-restaurant" id="{% if lang_code == 'es' %}conócenos{% else %}about-us{% endif %}">
    <div class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px]">
      <div class="flex flex-wrap mb-[-24px] relative z-10 fade-out-on-scroll">
        <div class="flex flex-wrap mb-[-24px]">
          <div class="lg:w-1/2 w-full px-3 mb-6 relative" data-aos="fade-up" data-aos-duration="2000">
            <div class="image-container">
              <picture>
                <source srcset="{{ url_for('static', filename='dist/img/about/mya-300.webp') }} 300w, {{ url_for('static', filename='dist/img/about/mya-600.webp') }} 600w, {{ url_for('static', filename='dist/img/about/mya-900.webp') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
                <source srcset="{{ url_for('static', filename='dist/img/about/mya-300.jpg') }} 300w, {{ url_for('static', filename='dist/img/about/mya-600.jpg') }} 600w, {{ url_for('static', filename='dist/img/about/mya-900.jpg') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
                <img src="{{ url_for('static', filename='dist/img/about/mya-600.jpg') }}" alt="{% if lang_code == 'es' %}Hotel Boutique MYA{% else %}MYA Hotel Boutique{% endif %}" class="responsive-img lazyload" width="600" height="400" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="lg:w-1/2 w-full px-[12px] mb-[24px]" data-aos="fade-up" data-aos-duration="2000">
            <div class="h-full flex flex-col justify-center">
              <div class="text-left w-full lg:mb-[30px] mb-[12px]">
                <h2 class="text-[#464644] font-medium leading-[1.2] 2xl:text-[40px] xl:text-[35px] xl:pb-0 lg:text-[30px] md:text-[28px] sm:text-[26px] text-[22px]">MYA&nbsp;<span class="text-[#388eea;]">Hotel&nbsp;Boutique</span></h2>
              </div>
              <div class="xl:pb-[24px] pb-[15px] border-b border-solid border-[#e3e1e1]">
                <p>{% if lang_code == 'es' %} Bienvenidos a MYA (mii-aa) Hotel Boutique, un sueño hecho realidad por los fundadores Miguel y Ange. Únanse a nosotros para relajarse, saborear comidas orgánicas directamente de nuestro jardín y disfrutar de actividades como pádel, ping-pong y un refrescante baño en nuestra piscina. {% else %} Welcome to MYA (mee-ah) Hotel Boutique, a dream brought to life by founders Miguel and Ange. Join us to relax, savor organic meals straight from our garden, and enjoy activities like padel, ping-pong and a refreshing swim in our pool.{% endif %}</p>
              </div>
              <div class="flex flex-wrap mb-[-15px] ld-about-rows relative xl:py-[24px] py-[15px]">
                <div class="sm:w-1/2 w-full mb-[15px] sm:pr-[12px] pr-[0]">
                  <h4 class="mb-[12px] text-[#464644] text-[18px] font-semibold leading-[1.25]"><i class="ri-arrow-right-up-line mr-[5px] text-[18px] rotate-[-42deg]"></i> {% if lang_code == 'es' %}Nuestra Misión{% else %}Our Mission{% endif %}</h4>
                  <p>{% if lang_code == 'es' %}Nuestra misión es ofrecerte el servicio excepcional que mereces mientras estás lejos de casa.{% else %}Our mission is to deliver the exceptional service you deserve while you are away from home.{% endif %}</p>
                </div>
                <div class="sm:w-1/2 w-full mb-[15px] sm:pl-[12px] pl-[0]">
                  <h4 class="mb-[12px] text-[#464644] text-[18px] font-semibold leading-[1.25]"><i class="ri-arrow-right-up-line mr-[5px] text-[18px] rotate-[-42deg]"></i>{% if lang_code == 'es' %}Nuestra Visión{% else %}Our Vision{% endif %}</h4>
                  <p>{% if lang_code == 'es' %}Nuestra visión es superar los estándares actuales, desafiándonos continuamente para alcanzar mayores alturas.{% else %}Our vision is to surpass the current standards, continually challenging ourselves to achieve greater heights.{% endif %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <ul class="cards">
          <li>
            <picture>
              <source srcset="{{ url_for('static', filename='dist/img/about/about_2-300.webp') }} 300w, {{ url_for('static', filename='dist/img/about/about_2-600.webp') }} 600w, {{ url_for('static', filename='dist/img/about/about_2-900.webp') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
              <source srcset="{{ url_for('static', filename='dist/img/about/about_2-300.jpg') }} 300w, {{ url_for('static', filename='dist/img/about/about_2-600.jpg') }} 600w, {{ url_for('static', filename='dist/img/about/about_2-900.jpg') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
              <img src="{{ url_for('static', filename='dist/img/about/about_2-600.jpg') }}" alt="{% if lang_code == 'es' %}Imagen de MYA Hotel Boutique{% else %}Image of MYA Hotel Boutique{% endif %}" class="responsive-img lazyload" width="600" height="400" loading="lazy">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="{{ url_for('static', filename='dist/img/about/about_2-300.webp') }} 300w, {{ url_for('static', filename='dist/img/about/about_2-600.webp') }} 600w, {{ url_for('static', filename='dist/img/about/about_2-900.webp') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
              <source srcset="{{ url_for('static', filename='dist/img/about/about_2-300.jpg') }} 300w, {{ url_for('static', filename='dist/img/about/about_2-600.jpg') }} 600w, {{ url_for('static', filename='dist/img/about/about_2-900.jpg') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
              <img src="{{ url_for('static', filename='dist/img/about/about_2-600.jpg') }}" alt="{% if lang_code == 'es' %}Otra imagen de MYA Hotel Boutique{% else %}Another image of MYA Hotel Boutique{% endif %}" class="responsive-img lazyload" width="600" height="400" loading="lazy">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="{{ url_for('static', filename='dist/img/about/4_mya-300.webp') }} 300w, {{ url_for('static', filename='dist/img/about/4_mya-600.webp') }} 600w, {{ url_for('static', filename='dist/img/about/4_mya-900.webp') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
              <source srcset="{{ url_for('static', filename='dist/img/about/4_mya-300.jpg') }} 300w, {{ url_for('static', filename='dist/img/about/4_mya-600.jpg') }} 600w, {{ url_for('static', filename='dist/img/about/4_mya-900.jpg') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
              <img src="{{ url_for('static', filename='dist/img/about/4_mya-600.jpg') }}" alt="{% if lang_code == 'es' %}Pasillo entre habitaciones y piscina{% else %}Hallway between rooms and pool{% endif %}" class="responsive-img lazyload" width="600" height="400" loading="lazy">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="{{ url_for('static', filename='dist/img/about/9_mya-300.webp') }} 300w, {{ url_for('static', filename='dist/img/about/9_mya-600.webp') }} 600w, {{ url_for('static', filename='dist/img/about/9_mya-900.webp') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
              <source srcset="{{ url_for('static', filename='dist/img/about/9_mya-300.jpg') }} 300w, {{ url_for('static', filename='dist/img/about/9_mya-600.jpg') }} 600w, {{ url_for('static', filename='dist/img/about/9_mya-900.jpg') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
              <img src="{{ url_for('static', filename='dist/img/about/9_mya-600.jpg') }}" alt="{% if lang_code == 'es' %}Cascada a la piscina{% else %}Waterfall to the pool{% endif %}" class="responsive-img lazyload" width="600" height="400" loading="lazy">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="{{ url_for('static', filename='dist/img/about/12_mya-300.webp') }} 300w, {{ url_for('static', filename='dist/img/about/12_mya-600.webp') }} 600w, {{ url_for('static', filename='dist/img/about/12_mya-900.webp') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
              <source srcset="{{ url_for('static', filename='dist/img/about/12_mya-300.jpg') }} 300w, {{ url_for('static', filename='dist/img/about/12_mya-600.jpg') }} 600w, {{ url_for('static', filename='dist/img/about/12_mya-900.jpg') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
              <img src="{{ url_for('static', filename='dist/img/about/12_mya-600.jpg') }}" alt="{% if lang_code == 'es' %}Habitación con cama king mirando al interior{% else %}Bedroom with king bed looking at interior{% endif %}" class="responsive-img lazyload" width="600" height="400" loading="lazy">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="{{ url_for('static', filename='dist/img/about/15_mya-300.webp') }} 300w, {{ url_for('static', filename='dist/img/about/15_mya-600.webp') }} 600w, {{ url_for('static', filename='dist/img/about/15_mya-900.webp') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/webp">
              <source srcset="{{ url_for('static', filename='dist/img/about/15_mya-300.jpg') }} 300w, {{ url_for('static', filename='dist/img/about/15_mya-600.jpg') }} 600w, {{ url_for('static', filename='dist/img/about/15_mya-900.jpg') }} 900w" sizes="(max-width: 600px) 100vw, 600px" type="image/jpeg">
              <img src="{{ url_for('static', filename='dist/img/about/15_mya-600.jpg') }}" alt="{% if lang_code == 'es' %}Espacio entre el hotel y la entrada de Olivea{% else %}Space between hotel and Olivea entrance{% endif %}" class="responsive-img lazyload" width="600" height="400" loading="lazy">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </section>
  