<section class="section-blog bg-[#f7f5f1] xl:py-[100px] py-[70px]">
    <div
        class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px]">
        <div class="text-center w-full mb-[30px]" data-aos="fade-up" data-aos-duration="2000">
            <h2
                class="text-[#000] font-medium leading-[1.2] 2xl:text-[40px] xl:text-[35px] xl:pb-0 lg:text-[30px] md:text-[28px] sm:text-[26px] text-[22px]">
                Stay Update With <span class="text-[#676663]">Us</span>
            </h2>
        </div>
        <div class="slick-slider blog-slider my-0 lg:flex flex-wrap w-full">
            <div class="blog-card mx-[12px] my-0">
                <figure class="m-0 relative truncate"><img src="{{ url_for('static', filename='dist/img/blog/2.png') }}"
                        alt="blog-img" class="w-full rounded-[15px]"></figure>
                <div class="lh-blog flex flex-col justify-center">
                    <div class="lh-blog-date py-[15px] leading-[15px]">
                        <span class="text-[13px] font-Roboto"><code class="text-[16px] text-[#676663]">Restaurant</code>
                            - 09 Jan 2023 - 05 Comment</span>
                    </div>
                    <a class="font-Poppins xl:text-[18px] text-[16px] xl:leading-[26px] lending-[24px] text-[#000] mt-0 font-bold cursor-pointer hover:text-[#000]"
                        href="{{ url_for('main.index_localized', lang_code=session.get('language', 'en')) }}">Offers
                        Exclusive
                        amenities & Facilities To Guests and free
                        offers.</a>
                </div>
            </div>
            <div class="blog-card mx-[12px] my-0">
                <figure class="m-0 relative truncate"><img src="{{ url_for('static', filename='dist/img/blog/3.png') }}"
                        alt="blog-img" class="w-full rounded-[15px]"></figure>
                <div class="lh-blog flex flex-col justify-center">
                    <div class="lh-blog-date py-[15px] leading-[15px]">
                        <span class="text-[13px] font-Roboto"><code class="text-[16px] text-[#676663]">Marketing</code>
                            - 15 Feb 2023 - 22 Comment</span>
                    </div>
                    <a class="font-Poppins xl:text-[18px] text-[16px] xl:leading-[26px] lending-[24px] text-[#000] mt-0 font-bold cursor-pointer hover:text-[#000]"
                        href="{{ url_for('main.index_localized', lang_code=session.get('language', 'en')) }}">Announces
                        A Private
                        Island Hotel In The Maldives for couple.</a>
                </div>
            </div>
            <div class="blog-card mx-[12px] my-0">
                <figure class="m-0 relative truncate"><img src="{{ url_for('static', filename='dist/img/blog/4.png') }}"
                        alt="blog-img" class="w-full rounded-[15px]"></figure>
                <div class="lh-blog flex flex-col justify-center">
                    <div class="lh-blog-date py-[15px] leading-[15px]">
                        <span class="text-[13px] font-Roboto"><code class="text-[16px] text-[#676663]">Hotel</code>
                            - 22 Dec 2023 - 00 Comment</span>
                    </div>
                    <a class="font-Poppins xl:text-[18px] text-[16px] xl:leading-[26px] lending-[24px] text-[#000] mt-0 font-bold cursor-pointer hover:text-[#000]"
                        href="{{ url_for('main.index_localized', lang_code=session.get('language', 'en')) }}">Hotel
                        Construction
                        Update
                        & Upgrade at Bali
                        Hotel.</a>
                </div>
            </div>
            <div class="blog-card mx-[12px] my-0">
                <figure class="m-0 relative truncate"><img src="{{ url_for('static', filename='dist/img/blog/5.png') }}"
                        alt="blog-img" class="w-full rounded-[15px]"></figure>
                <div class="lh-blog flex flex-col justify-center">
                    <div class="lh-blog-date py-[15px] leading-[15px]">
                        <span class="text-[13px] font-Roboto"><code class="text-[16px] text-[#676663]">Business</code>
                            - 18 Apr 2023 - 15 Comment</span>
                    </div>
                    <a class="font-Poppins xl:text-[18px] text-[16px] xl:leading-[26px] lending-[24px] text-[#000] mt-0 font-bold cursor-pointer hover:text-[#000]"
                        href="{{ url_for('main.index_localized', lang_code=session.get('language', 'en')) }}">Tips For
                        Booking The
                        Perfect Hotel Room
                        In A Coastal
                        Destination.</a>
                </div>
            </div>
        </div>
    </div>
</section>