<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="{% block description %}Discover the elegance and luxury of MYA Hotel Boutique. Located in the heart of the city, we offer an unforgettable stay with premium amenities and top-notch service.{% endblock %}">
    <meta name="keywords"
        content="{% block keywords %}hotel, booking, business, restaurant, spa, resort, valle de Guadalupe, wine, padel, family owned, safe, farm to table, Ensenada, Mexico, boutique hotel, experience, landing{% endblock %}">
    <title>{% block title %}MYA Boutique Hotel{% endblock %}</title>
    {% block favicon %}
    <link rel="icon" href="{{ url_for('main.favicon') }}" type="image/x-icon">
    {% endblock %}
    {% block hreflang %}
    <link rel="alternate" href="{{ url_for('main.index_localized', lang_code='en', _external=True) }}" hreflang="en">
    <link rel="alternate" href="{{ url_for('main.index_localized', lang_code='es', _external=True) }}" hreflang="es">
    {% endblock %}
    <!-- CSS All Plugins Files -->
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/materialdesignicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/semantic.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/slick.min.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Tailwind CSS -->
    <script src="{{ url_for('static', filename='js/vendor/tailwindcss3.4.0.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Main Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
    {% block styles %}{% endblock %}
</head>

<body class="overflow-x-hidden bg-gray-10">

    <!-- Loader -->
    <div
        class="lh-loader min-w-full w-full h-screen fixed top-0 left-0 flex items-center justify-center bg-[#fff] z-[25]">
        <span class="loader w-[100px] h-[100px] flex relative items-center justify-center"></span>
    </div>

    <!-- Header -->
    <header>
        <!-- Basic Header -->
        <div class="relative">
            <div
                class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px] lg:flex hidden">
                <div class="w-1/2 py-[10px] flex items-center">
                    <div class="pr-[15px] border-r border-solid border-[#ddd] flex items-cente">
                        <i class="ri-mail-line mr-[5px] text-[#7b6c55] text-[16px]"></i>
                        <a href="mailto:{{ email }}">{{ email }}</a>
                    </div>
                    <div class="flex items-center pl-[15px] lh-location">
                        <div class="flex items-center custom-select text-[14px] text-[#777]">
                            <i class="ri-earth-line mr-[5px] text-[#7b6c55] text-[16px]"></i>
                            {% include 'partials/language_form.html' %}
                        </div>
                    </div>
                </div>
                <div class="w-1/2 py-[10px] flex justify-end">
                    <div class="pr-[15px] border-r border-solid border-[#ddd] flex items-center">
                        <i class="ri-phone-line mr-[5px] text-[#7b6c55] text-[16px]"></i>
                        {{ phone }}
                    </div>
                    <div class="mx-[-5px] pl-[15px] flex items-center">
                        <a href="https://www.facebook.com/myahotelboutique" target="_blank"><i
                                class="ri-facebook-box-line facebook mx-[5px] text-[18px] text-[#1877F2]"></i></a>
                        <a href="https://www.x.com/myahotelboutique" target="_blank"><i
                                class="ri-twitter-x-line twitter mx-[5px] text-[18px] text-[#000]"></i></a>
                        <a href="https://www.linkedin.com/company/mya-hotel-boutique-co" target="_blank"><i
                                class="ri-linkedin-box-line linkedin mx-[5px] text-[18px] text-[#0077B5]"></i></a>
                        <a href="https://www.instagram.com/myahotelboutique" target="_blank"><i
                                class="ri-instagram-line instagram mx-[5px] text-[18px] text-[#DD2A7B]"></i></a>
                        <a href="https://www.youtube.com/myahotelboutique" target="_blank"><i
                                class="ri-youtube-line youtube mx-[5px] text-[18px] text-[#FF0000]"></i></a>
                        <a href="https://www.pinterest.com/myahotelboutique" target="_blank"><i
                                class="ri-pinterest-line pinterest mx-[5px] text-[18px] text-[#E60023]"></i></a>
                        <a href="https://www.spotify.com/myahotelboutique" target="_blank"><i
                                class="ri-spotify-line spotify mx-[5px] text-[18px] text-[#1ED760]"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Header -->
        <div class="lh-header bg-stone-200 absolute w-full z-[16] py-[6px]">
            <div
                class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px]">
                <nav class="flex flex-nowrap w-full py-[3px]">
                    <a class="navbar-brand py-[5px]" href="#">
                        <img src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="logo"
                            class="xl:w-[65px] w-[35px] relative z-[2]">
                    </a>
                    <button
                        class="navbar-toggler shadow-none flex basis-[auto] grow items-center text-[24px] text-[#111827] lg:hidden flex justify-end"
                        type="button" data-bs-toggle="collapse" data-bs-target="#" aria-label="Toggle navigation">
                        <i class="ri-menu-2-line"></i>
                    </button>
                    <div class="flex basis-[auto] grow items-center lg:flex hidden">
                        <ul class="navbar-nav flex w-full relative z-[3] flex-row justify-end">
                            <li class="ml-[30px] nav-item dropdown">
                                <a class="py-[5px] text-[15px] text-[#111827] nav-link" href="javascript:void(0)">
                                    About Us
                                </a>
                            </li>
                            <li class="ml-[30px] nav-item dropdown">
                                <a class="py-[5px] text-[15px] text-[#111827] nav-link" href="#rooms">
                                    Rooms
                                </a>
                            </li>
                            <li class="ml-[30px] nav-item dropdown">
                                <a class="py-[5px] text-[15px] text-[#111827] nav-link" href="javascript:void(0)">
                                    Find Us
                                </a>
                            </li>
                            <li class="ml-[30px] nav-item dropdown">
                                <a class="py-[5px] text-[15px] text-[#111827] nav-link" href="javascript:void(0)">
                                    Coffee
                                </a>
                            </li>
                            <li class="ml-[30px] nav-item dropdown">
                                <a class="py-[5px] text-[15px] text-[#111827] nav-link" href="javascript:void(0)">
                                    Padel
                                </a>
                            </li>
                            <li class="ml-[30px] nav-item dropdown">
                                <a class="py-[5px] text-[15px] text-[#111827] nav-link" href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'en')) }}">
                                    Dining
                                </a>
                            </li>
                            <li class="ml-[30px] nav-item dropdown">
                                <div class="search-control-button flex items-center min-w-[117px]">
                                    <button id="bookNowButton"
                                        class="m-[auto] duration-[0.3s] ease-in-out border-[1px] border-solid border-[#7b6c55] px-[15px] py-[5px] leading-[28px] bg-[#7b6c55] text-[#fff] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#7b6c55]">
                                        Book Now
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Hero Section -->
        {% block hero %}
        <section id="hero" class="section-hero lg:pb-[50px] pb-[70px]">
            <div
                class="flex flex-wrap flex-col justify-center px-[12px] hero-image md:h-[calc(115vh_-_100px)] sm:h-[80vh] min-[481px]:h-[580px] h-[375px] bg-[url('{{ url_for('static', filename='img/hero/hero-section.jpg') }}')] w-full bg-cover bg-bottom m-0 bg-blend-overlay bg-[#fffcc]">
                <div class="flex flex-wrap w-full h-full">
                    <div class="relative w-full h-full">
                        <div class="particles-bg w-full h-full absolute top-0 left-0 opacity-30" id="particles-js">
                        </div>
                        <div
                            class="max-w-[830px] w-full lg:top-[50%] top-[53%] absolute left-[50%] z-1 text-center flex flex-wrap flex-col justify-center translate-x-[-50%] translate-y-[-50%]">
                            <h4 class="max-w-[250px] m-[auto] font-Roboto relative text-[#fff] text-[16px] font-light"
                                data-aos="fade-up" data-aos-duration="1000">
                                <span
                                    class="py-side-border border-[1px] border-solid border-[#7b6c55] w-[50px] absolute top-[9px] left-[-60px] z-[0]"></span>
                                MYA Hotel Boutique
                                <span
                                    class="py-side-border border-[1px] border-solid border-[#7b6c55] w-[50px] absolute top-[9px] right-[-60px] z-[0]"></span>
                            </h4>
                            <h1 class="my-[30px] font-Cardo wordspac_15 2xl:text-[48px] xl:text-[42px] lg:text-[38px] md:text-[35px] sm:text-[30px] text-[24px] md:leading-[1.2857em] sm:leading-[42px] leading-[36px] font-bold sm:tracking-[2px] tracking-[1px] uppercase text-[#fff]"
                                data-aos="fade-up" data-aos-duration="1500">Intimate Elegance,
                                Culinary Excellence,
                                Active Leisure</h1>
                            <a class="m-[auto] duration-[0.3s] ease-in-out border-[1px] border-solid border-[#7b6c55] px-[15px] py-[5px] leading-[28px] bg-[#7b6c55] text-[#fff] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#7b6c55]"
                                href="#rooms">
                                Get to know us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        {% block footer %}
        <footer class="pt-[70px] bg-[#a8a29e]">
            <div
                class="mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px]">
                <div class="footer-top-section pb-[70px]">
                    <div class="flex flex-wrap mb-[-24px] w-full">
                        <div class="lg:w-1/4 md:w-1/2 w-full px-[12px] mb-[24px] lg:order-[1] order-[2]">
                            <div class="lh-footer-cols-contain">
                                <div class="lg:pb-[20px] pb-[12px] text-[#fff]">
                                    <h4 class="text-[18px] leading-[1.25] font-medium">Explore</h4>
                                </div>
                                <ul>
                                    <li class="py-[5px]">
                                        <code class="text-[16px] text-[#7b6c55]">*</code>
                                        <a href="{{ url_for('main.index_localized', lang_code=session.get('language', 'en')) }}"
                                            class="text-[14px] text-[#fff] hover:text-[#bfbfc0]">Home</a>
                                    </li>
                                    <li class="py-[5px]">
                                        <code class="text-[16px] text-[#7b6c55]">*</code>
                                        <a href="#"
                                            class="text-[14px] text-[#fff] hover:text-[#bfbfc0]">About</a>
                                    </li>
                                    <li class="py-[5px]">
                                        <code class="text-[16px] text-[#7b6c55]">*</code>
                                        <a href="#"
                                            class="text-[14px] text-[#fff] hover:text-[#bfbfc0]">Rooms
                                            & suites</a>
                                    </li>
                                    <li class="py-[5px]">
                                        <code class="text-[16px] text-[#7b6c55]">*</code>
                                        <a href="#" class="text-[14px] text-[#fff] hover:text-[#bfbfc0]">spa
                                            &
                                            Wellness</a>
                                    </li>
                                    <li class="py-[5px]">
                                        <code class="text-[16px] text-[#7b6c55]">*</code>
                                        <a href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'en')) }}"
                                            class="text-[14px] text-[#fff] hover:text-[#bfbfc0]">Olivea
                                            Farm To
                                            Table</a>
                                    </li>
                                    <li class="py-[5px]">
                                        <code class="text-[16px] text-[#7b6c55]">*</code>
                                        <a href="#" class="text-[14px] text-[#fff] hover:text-[#bfbfc0]">Faq</a>
                                    </li>
                                    <li class="pt-[5px]">
                                        <code class="text-[16px] text-[#7b6c55]">*</code>
                                        <a href="#"
                                            class="text-[14px] text-[#fff] hover:text-[#bfbfc0]">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lg:w-1/2 w-full px-[12px] mb-[24px] lg:order-[2] order-[1]">
                            <div
                                class="lh-social-media h-full lg:border-x-[1px] lg:border-b-[0] md:border-b-[1px] border-b-[0] lg:pb-[0] md:pb-[30px] pb-[0] border-solid border-[#808384]">
                                <div class="footer-logos flex md:justify-center justify-start">
                                    <img src="{{ url_for('static', filename='img/logo/logo-2.png') }}" alt="logo"
                                        class="w-[180px]">
                                </div>
                                <div
                                    class="lh-footer-social lg:p-[24px] py-[24px] lg:border-b border-solid border-[#808384]">
                                    <p
                                        class="md:m-auto md:text-center text-left text-[14px] max-w-[400px] text-[#fff] leading-[22px]">
                                        <span style="font-weight:400;">We
                                            are more than just a
                                            hotel</span>
                                    </p>
                                    <p
                                        class="md:m-auto md:text-center text-left text-[14px] max-w-[400px] text-[#fff] leading-[22px]">
                                        MYA • Olivea • DiVino
                                    </p>
                                </div>
                                <div
                                    class="lh-follow-social md:block flex-col justify-self-center items-center xl:pt-[24px] xl:pb-0 lg:pt-[22px] lg:pb-0 pt-[0] lg:pb-[30px] pb-0">
                                    <h4 class="heading text-[18px] font-medium md:text-center text-left">Follow
                                        On
                                        Social</h4>
                                    <div
                                        class="footer-logo-image flex md:justify-center pt-[15px] md:text-center text-left">
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='img/logo/facebook.png') }}"
                                                alt="facebook"
                                                class="w-[30px] mx-[4px] duration-[0.3s] ease-in-out hover:scale-[1.3]">
                                        </a>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='img/logo/twitter.png') }}"
                                                alt="twitter"
                                                class="w-[30px] mx-[4px] duration-[0.3s] ease-in-out hover:scale-[1.3]">
                                        </a>
                                        <a href="https://www.instagram.com/myahotelboutique" target="_blank">
                                            <img src="{{ url_for('static', filename='img/logo/instagram.png') }}"
                                                alt="instagram"
                                                class="w-[30px] mx-[4px] duration-[0.3s] ease-in-out hover:scale-[1.3]">
                                        </a>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='img/logo/linkedin.png') }}"
                                                alt="linkedin"
                                                class="w-[30px] mx-[4px] duration-[0.3s] ease-in-out hover:scale-[1.3]">
                                        </a>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='img/logo/pinterest.png') }}"
                                                alt="pinterest"
                                                class="w-[30px] mx-[4px] duration-[0.3s] ease-in-out hover:scale-[1.3]">
                                        </a>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='img/logo/youtube.png') }}"
                                                alt="youtube"
                                                class="w-[30px] mx-[4px] duration-[0.3s] ease-in-out hover:scale-[1.3]">
                                        </a>
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='img/logo/spotify.png') }}"
                                                alt="spotify"
                                                class="w-[30px] mx-[4px] duration-[0.3s] ease-in-out hover:scale-[1.3]">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lg:w-1/4 md:w-1/2 w-full px-[12px] mb-[24px] lg:order-[3] order-[3]">
                            <div class="lh-footer-cols-contain">
                                <div class="lg:pb-[20px] pb-[12px] text-[#fff]">
                                    <h4 class="text-[18px] leading-[1.25] font-medium">Contact
                                        Information</h4>
                                </div>
                                <div class="lh-footer-contact-infoemation">
                                    <ul>
                                        <li class="lh-information xl:py-[14px] lg:py-[8px] md:py-[13px] py-[8px]">
                                            <h5
                                                class="heading mb-[5px] md:text-[16px] text-[15px] font-medium tracking-wider">
                                                Location</h5>
                                            <span class="text-[14px] text-[#fff]">5
                                                Green st.Huntington
                                                stati
                                                on, Ny
                                                11746, Libero voluptatem
                                                soluta Bharat.</span>
                                        </li>
                                        <li class="lh-information xl:py-[14px] lg:py-[8px] md:py-[13px] py-[8px]">
                                            <h5
                                                class="heading mb-[5px] md:text-[16px] text-[15px] font-medium tracking-wider">
                                                Email Address</h5>
                                            <i class="ri-mail-line mr-[5px] text-[#fff] text-[16px]"></i>
                                            <span class="text-[14px] text-[#fff]">
                                                <a href="mailto:{{ email }}">{{
                                                    email }}</a>
                                            </span>
                                        </li>
                                        <li class="lh-information xl:py-[14px] lg:py-[8px] md:py-[13px] py-[8px] pb-0">
                                            <h5
                                                class="heading mb-[5px] md:text-[16px] text-[15px] font-medium tracking-wider">
                                                Phone Number</h5>
                                            <i class="ri-phone-line mr-[5px] text-[#fff] text-[16px]"></i>
                                            <span class="text-[14px] text-[#fff]">{{
                                                phone }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-copy px-[12px]">
                    <div class="flex justify-center border-t-[1px] border-solid border-[#808384]">
                        <span class="text-[#fff] py-[10px] text-center">Copyright
                            @ <span id="copyright_year"></span>
                            <a href="#" class="text-[#fff] hover:text-[#7b6c55]">MYA
                                Hotel Boutique & Co</a>
                            All Rights Reserved
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </footer>
    
    <!-- Top Progress bar -->
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>

    <!-- Tap to top -->
    <a href="#"
        class="back-to-top hidden fixed left-[15px] bottom-[15px] z-10 hover:text-[#fff] cursor-pointer w-[38px] h-[38px] rounded-[20px] bg-[#7b6c55] text-[#fff] text-center text-[22px] leading-relaxed result-placeholder">
        <i class="ri-arrow-up-double-line text-[20px]"></i>
    </a>

    <!-- side bar -->
    <div class="relative">
        <nav class="floating-sidebar">
            <a href="{{ url_for('main.index_localized', lang_code=session.get('language', 'en')) }}" class="sidebar-link">
                <img src="{{ url_for('static', filename='img/logo/svg/mya.svg') }}" alt="MYALogo" class="sidebar-icon">
            </a>
            <a href="{{ url_for('main.oliveafarmtotable', lang_code=session.get('language', 'en')) }}" class="sidebar-link">
                <img src="{{ url_for('static', filename='img/logo/svg/olivea.svg') }}" alt="OliveaLogo" class="sidebar-icon">
            </a>
            <a href="{{ url_for('main.divino', lang_code=session.get('language', 'en')) }}" class="sidebar-link">
                <img src="{{ url_for('static', filename='img/logo/svg/Asset3.svg') }}" alt="PadelLogo" class="sidebar-icon">
            </a>
        </nav>
    </div>

    <!-- Chatbot-->
    {% include 'partials/chatbot.html' %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}

</body>

</html>
