<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% include 'partials/base/meta_description.html' %}">
    <meta name="keywords" content="{% include 'partials/base/meta_keywords.html' %}">
    <title>{% include 'partials/base/title.html' %}</title>

    <!-- Favicon -->
    {% include 'partials/base/favicon.html' %}

    <!-- hreflang -->
    {% if page_name == 'MYA' %}
    <link rel="alternate" href="{{ url_for('main.index_localized', lang_code='en', _external=True) }}" hreflang="en">
    <link rel="alternate" href="{{ url_for('main.index_localized', lang_code='es', _external=True) }}" hreflang="es">
    {% elif page_name == 'Olivea' %}
    <link rel="alternate" href="{{ url_for('main.oliveafarmtotable', lang_code='en', _external=True) }}" hreflang="en">
    <link rel="alternate" href="{{ url_for('main.oliveafarmtotable', lang_code='es', _external=True) }}" hreflang="es">
    {% elif page_name == 'Divino' %}
    <link rel="alternate" href="{{ url_for('main.divino', lang_code='en', _external=True) }}" hreflang="en">
    <link rel="alternate" href="{{ url_for('main.divino', lang_code='es', _external=True) }}" hreflang="es">
    {% else %}
    <link rel="alternate" href="{{ url_for('main.index_localized', lang_code='en', _external=True) }}" hreflang="en">
    <link rel="alternate" href="{{ url_for('main.index_localized', lang_code='es', _external=True) }}" hreflang="es">
    {% endif %}

    <!-- Canonical URL -->
    {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}

    {% block links %}
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/vendor/vendor.min.css') }}" media="print"
        onload="this.media='all'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Main Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom/styles.min.css') }}" media="print"
        onload="this.media='all'">
    {% endblock %}

    {% block loader_styles %}{% endblock %}
</head>

<body class="overflow-x-hidden bg-gray-10" data-lang="{{ session['language'] }}">

    <!-- Loader -->
    {% include 'partials/base/loader.html' %}
    <header>
        <!-- Basic Header -->
        {% include 'partials/base/basic-nav.html' %}
        <!-- Basic Header -->
        {% include 'partials/base/navbar.html' %}
    </header>

    <!-- Mobile-menu -->
    {% include 'partials/base/mobile-menu.html' %}

    {% block main %}
    <!-- Main Content -->
    <main>
        <!-- Hero Section -->
        {% include 'partials/base/hero.html' %}
        {% block content %}{% endblock %}
    </main>
    {% endblock %}

    {% block plugs %}
    <!-- Footer -->
    {% include 'partials/base/footer.html' %}

    <!-- Tap to top & Top Progress bar-->
    {% include 'partials/base/permanent.html' %}

    <!-- side bar -->
    {% include 'partials/base/sidebar.html' %}

    <!-- Chatbot-->
    {% include 'partials/base/chatbot.html' %}
    {% endblock %}

    {% block scripts %}
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js" defer></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js" defer></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='dist/js/main.min.js') }}" defer></script>

    {% endblock %}

    {% block loader_scripts %}{% endblock %}
</body>

</html>
