{% extends "base.html" %} {% block content %} {% include 'partials/diVino/gallery.html' %}{% include
'partials/diVino/gallery-mobile.html' %}{% include 'partials/base/owners.html' %}{% include
'partials/base/sustainability.html' %} {% include 'partials/base/find-us.html' %} {% endblock %} {% block sweetalert2 %} <script>document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            Swal.fire({
                title: "Trabajo en progreso",
                html: `
                    <p style="color: #000 !important; font-size: 1em !important; margin: 0.5em 0 !important;">¡Ya puedes conseguir Café y Vino!</p>
                `,
                width: 600,
                padding: "3em",
                color: "#716add",
                background: "#fff",
                backdrop: `
                    rgba(0,0,123,0.4)
                    url('{{ url_for('static', filename='dist/img/gif/giphy.webp') }}')
                    left top
                    no-repeat
                `
            });
        }, 5000); // 5000 milliseconds = 5 seconds
    });</script> {% endblock %}