{% extends "base.html" %}

{% block links %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" media="print" onload="this.media='all'">
{% endblock %}

{% block content %}

<!-- About Us -->
{% include 'partials/diVino/gallery.html' %}

<!-- Amenities -->
{% include 'partials/diVino/amenities.html' %}

<!-- Padel -->
{% include 'partials/diVino/padel.html' %}

<!-- Cafe -->
{% include 'partials/diVino/cafe.html' %}

<!-- Find Us / Contact Us -->
{% include 'partials/base/find-us.html' %}
{% endblock %}

<!-- Pop up -->
{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="{{ url_for('static', filename='dist/js/sweetalert2.min.js') }}" defer></script>
{% endblock %}