{% extends "base.html" %}

{% block content %}

<!-- search-control -->
{% include 'partials/mya/MYA-booking.html' %}

<!-- About -->
{% include 'partials/mya/gallery.html' %}

<!-- Room -->
{% include 'partials/mya/rooms.html' %}

<!-- Amenities -->
{% include 'partials/mya/amenities.html' %}

<!-- Testimonials -->
{% include 'partials/mya/testimonials.html' %}

<!-- Instagram -->
{% include 'partials/mya/instagram.html' %}

<!-- Find Us -->
{% include 'partials/base/find-us.html' %}
{% endblock %}