{% block extra %} <style>.search-control-button{display:flex;align-items:center;min-width:117px}.search-control-button a{margin:auto;transition:all .3s ease-in-out;border:1px solid #676663;padding:5px 15px;line-height:28px;background-color:#676663;color:#fafafa;text-decoration:none;font-size:15px;font-weight:medium;letter-spacing:1px;border-radius:10px}.search-control-button a:hover{background-color:inherit;color:#676663}</style> {% endblock %} {% extends "base.html" %} {% block content %} {% include 'partials/olivea/michelin.html' %} {%
include
'partials/olivea/olivea-reserve.html' %} {% include
'partials/olivea/gallery.html' %} <div class="gallery-mobile"> {% include 'partials/olivea/gallery-mobile.html' %} </div>{%
include 'partials/olivea/garden.html' %} {% include 'partials/olivea/story.html' %}{% include
'partials/olivea/menu.html' %}{% include
'partials/olivea/extra.html' %} {% include 'partials/base/owners.html' %} {% include 'partials/base/sustainability.html'
%} {% include 'partials/base/find-us.html' %} {%
endblock %} {% block sweetalert2 %} <script>document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("bookNowButton").addEventListener("click", function (event) {
            event.preventDefault();
            Swal.fire({
                html: `
                    <div class="iframe-container">
                        <iframe src="https://www.opentable.com.mx/restref/client/?restref=1313743&lang=es&ot_source=Restaurant%20website&corrid=087e6f67-2caf-4de1-9a93-0d90fcd2bfc8"></iframe>
                    </div>
                `,
                showClass: {
                    popup: 'animate__animated animate__zoomIn'
                },
                hideClass: {
                    popup: 'animate__animated animate__zoomOut'
                },
                width: '50%',
                padding: '0',
                showCloseButton: true,
                showConfirmButton: false,
            });
        });
    });</script> {% endblock %}