<!-- side bar -->
<div class="relative ">
    <nav class="floating-sidebar">
        <a href="#">
            <!-- HeroIcon - User -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-11 h-0">
                <img src="{{ url_for('static', filename='img/logo/svg/mya.svg') }}" alt="MYALogo">
            </svg>
        </a>
        <a href="oliveafarmtotable.html">
            <!-- HeroIcon - Chart Bar -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 h-0">
                <img src="{{ url_for('static', filename='img/logo/svg/olivea.svg') }}" alt="OliveaLogo">
            </svg>
        </a>
        <a href="divino.html">
            <!-- HeroIcon - Cog-6-tooth -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-11 h-0">
                <img src="{{ url_for('static', filename='img/logo/svg/Asset3.svg') }}" alt="PadelLogo">
            </svg>
        </a>
    </nav>
</div>